---
---
.title {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 4vh;

  &.mobile-only {
    font-size: 8vw;
  }
}

#team-title {
  text-align: center;
  margin-top: 10vh;
}

.row {
  width: 95%;
  margin: auto;

  a {
    text-decoration: none !important;
    color: initial;
  }
}

.maintainer {
  align-items: center;
  margin-top: 4vh;
  margin-bottom: 4vh;

  .card {
    border-radius: 2px;
    transition: all ease .4s;

    &:hover {
      transform: translateY(-0.75em);
    }

    .maintainer-name {
      text-align: center;
      color: #000;
      font-weight: 300;
    }
  }
}
