html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }
html, body {height: 100%;}
img { border: none; }
ul { list-style: none; }
a { color: #009FDA; text-decoration: none; }
a:hover { color: #00BAFF; }


body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #505050;
    line-height: 22px;
    background: none;
}



.sidenav {
    position: fixed;
}

.container {
    width: 840px;
    margin: 0 auto;
    padding-top: 40px;
}

.main .column .banner {
    display: block;
    margin: 40px auto;
}

.footer {
    text-align: center;
}

.ui.table tr.negative,
.ui.table td.negative,
.ui.table tr.positive,
.ui.table td.positive {
  -webkit-box-shadow: none;
  box-shadow: none;
}


td.icon {
    text-align: center;
}

td a {
    color: #505050;
}

td.main a {
    display: block;
}

td img.icon {
    float: left;
    border-radius: 500em!important;
    padding: 4px 4px!important;
    -webkit-box-shadow: 0 0 0 .1em rgba(0,0,0,.1) inset;
    box-shadow: 0 0 0 .1em rgba(0,0,0,.1) inset;
    line-height: 1!important;
    margin-right: 8px;
    background-color: white;
    height: 16px;
}
