---
---

@import 'mixins';
$primary-color: #39CCCC;

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img {
  border: none;
}

ul {
  list-style: none;
}

a {
  color: #009FDA;
  text-decoration: none;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #505050;
  line-height: 22px;
  background: none;
}

p {
  margin: 1em 0;
}

#top-header {
  padding: 3em 0;
}

.ui.header .sub.header {
  margin-top: 10px;

  label {
    color: #333333;
  }
}

input[type=search] {
  @include transition(all, ease, 300ms);
  border: 1px #E3E3E3 solid;
  border-radius: 30px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-top: 30px;
  padding: 10px 30px;
  width: 50%;

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 10px $primary-color;
    outline: none;
  }
}

.active-icon {
  background-color: $primary-color;
  color: white;

  &+small {
    color: #389B9B;
  }
}

.category {
  cursor: pointer;
  text-align: center;

  h5 i {
    @include transition(all, ease, 300ms);

    &:hover {
      @extend .active-icon
    }
  }
}

.ui.table td.twitter {
  text-align: center;
}

.website-table {
  position: relative;
  width: 90vw;
  z-index: 1000;
}

.ui.table td.icon {
  text-align: center;
}

.ui.celled.table tr td.main a,
.ui.celled.table .exception,
.ui.celled.table .exception * {
  padding-left: 5%;
  margin-bottom: 5px;
  vertical-align: top;
}

span.progress {
  padding-left: 10%;
}
