---
---

@import 'mixins';

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

img {
  border: none;
}

ul {
  list-style: none;
}

a {
  color: #009FDA;
  text-decoration: none;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #505050;
  line-height: 22px;
  background: none;
}

p {
  margin: 1em 0;
}

#top-header {
  padding: 3em 0;
}

.category {
  cursor: pointer;
  text-align: center;

  h5 i {
    @include transition(all, ease, 300ms);

    &:hover {
      background-color: #39CCCC;
      color: white;
    }
  }
}