---
---
:root {
  --primary: hsl(180, 59%, 51%);
  --background: #fff;
  --secondary-background: #eeeeee96;
  --text-color: #212529;
  @media (prefers-color-scheme: dark) {
    --background: #212121;
    --secondary-background: #6f6f6f96;
    --text-color: #eee;
  }
}

body {
  background-color: var(--background);
  font-family: open sans, Helvetica, Arial, sans-serif;
  min-width: 300px;
  color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

a {
  color: #005AA0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
  }
  a {
    color: #3596ff;
  }
  .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
  }
}


.container {
  max-width: calc(1327px + 2rem);
  padding: 0;

  /** Top content on index.html **/
  .main {
    margin: 0;

    #logo-outer {
      padding: 1em;
      text-align: center;

      #logo {
        margin: auto;
        height: 15em;
        max-height: 33vw;
      }
    }

    .description {
      h2 {
        font-weight: 300 !important;
        font-size: 2.3rem;
      }
    }
  }

  .col {
    display: block;
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }

  .fas, .fab {
    line-height: inherit;
  }

  h5:first-child {
    margin-top: 0;
  }

  .fa-2x {
    vertical-align: middle;
  }

  .btn {
    border-radius: 2px;
  }
}

/** Footer **/
.footer {
  bottom: 0;
  position: static;
  padding-top: 4vh;
  padding-bottom: 2vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;

  #innerFooter {
    grid-area: 1 / 2 / 2 / 3;
    font-size: 0.9em;
    text-align: center;
    @media screen and (max-width: 992px) {
      & {
        grid-area: 1 / 1 / 1 / 4 !important;
      }
    }
  }

  #buildNumber {
    grid-area: 1 / 3 / 2 / 4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: right;
    padding-right: 1vw;
  }
}

.social-media-modal {
  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
  }
}

.row {
  margin: 0;
}

/** Device specific content **/
@media screen and (min-width: 993px) {
  .mobile-only {
    display: none !important;
  }
}

@media screen and (max-width: 992px) {
  .desktop-only {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
