---
---

@media screen and (max-width: 992px) {
  .category-table {
    width: 100%;

    .search-table-title {
      text-align: center;
      display: none;
      margin: 4vh 0 1vh 0;
    }
    .table-success, .table-danger {
      margin: auto;
      padding: 18px;
      border-bottom: 1px groove rgba(34, 36, 38, .14902);

      .site-title {
        font-size: 18px;
        line-height: 53px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #3596ff;

        .fa-exclamation-triangle {
          float: right;
        }
      }

      .website-doc {
        background-color: #009fda;
        margin: 0 auto;

        a {
          font-family: Spartan;
          color: #fff;
          text-decoration: none;

          i {
            color: #fff !important;
          }
        }
      }
      .tfa-option {
        min-width: max-content;
      }

      .text-danger {
        text-align: center;
        display: block;
      }

    }
  }}
