---
---
#regionDropdown {
  cursor: pointer;
}

.navbar {
  background: var(--secondary-background);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-size: 17px;
  line-height: 18px;
  padding: 0.2rem 1rem;

  li {
    padding: 4px;
    margin: 0 2px;
  }

  li:hover {
    background: #ddd;
  }

  .dropdown-menu {
    position: absolute !important; // Bootstrap normally sets position static for dropdowns in mobile views
    background: #eeeeee;
    z-index: 1100; // higher than category button
    column-count: 2;

    .dropdown-item {
      .fi, .fas {
        width: (4/3)*1em; // corresponds to the rectangular flag-icon definition
        text-align: center;
      }
    }
  }
}

.nav-link {
  color: #3e3e3e;

  &:hover {
    color: #3e3e3e;
  }
}

#region-notice {
  background: var(--secondary-background);
  padding: .5em 0;
  text-align: center;
  font-size: 14px;
  margin: 0 0 3rem 0;

  &:only-child {
    margin: 0 auto;
    width: max-content;
  }
}

#region-notice-close-btn {
  color: var(--text-color);
  border: none;
  background: none;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1;
  vertical-align: middle;
}

@media screen and (min-width: 444px) {
  #region-notice-close-btn {
    margin-left: 2rem;
  }
  #region-notice {
    font-size: 1rem;
  }
}

@media (prefers-color-scheme: dark) {
  .nav-link {
    color: #fff;

    &:hover {
      color: #3e3e3e !important;
    }
  }
}
