# Below is a list of files/directories along with their owner.
# Owners are responsible for their files and owner approval is needed before any changes to said files can occur.
# This is managed by GitHub's "code owners" feature https://github.com/blog/2392-introducing-code-owners

# Jekyll and website design
*           @t0p0lin0 @kenman345 @rawb0t @deadr0ck @joshmcintyre @hegjon @EchterAgo
_data/* 		@t0p0lin0 @kenman345 @rawb0t @deadr0ck @joshmcintyre @hegjon @EchterAgo
_includes/*	@t0p0lin0 @kenman345
_layouts/*	@t0p0lin0 @kenman345
_sass/*		  @t0p0lin0 @kenman345
css/*		    @t0p0lin0 @kenman345
img/*		    @t0p0lin0 @kenman345 @rawb0t @deadr0ck @joshmcintyre @hegjon @EchterAgo
js/*		    @t0p0lin0 @kenman345
_config.yml	@t0p0lin0 @kenman345

# Core files
CNAME		@acceptbitcoincash/core
LICENSE		@acceptbitcoincash/core

# Miscellaneous files
data.json	@kenman345
verify.rb	@kenman345
Rakefile	@kenman345
