# IDE files
.idea/
nbproject/

# Jekyll/Ruby files
.bundle/
.config/
.jekyll-metadata
.sass-cache
Gemfile.lock
_site/
vendor/

# NPM files
node_modules/
package-lock.json
package.json

# OS files
*.DS_Store
*.swp
Thumbs.db
ehthumbs.db
tmp/

# Project files
*.webp

# API JSON files
api/*
_data/all.json
