sudo: true
dist: trusty
rvm: 2.4.0
cache:
  bundler: true
  directories:
  - vendor/bundle
  - $TRAVIS_BUILD_DIR/tmp/.htmlproofer
addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - ca-certificates
stages:
  - name: Test
    if: sender != x-access-token
  - name: imgbot
    if: sender = x-access-token AND branch = imgbot
  - name: Run build
    if: branch = master AND sender != x-access-token AND type = push
jobs:
  include:
    - &test-baseline
      stage: Test
      script:
        bundle exec rake
      
    - <<: *test-baseline
      script:
        bundle exec rake external
      if: type IN (pull_request, cron)
    
    - stage: imgbot
      script:
        bundle exec rake verify
    
    - stage: Run build
      env: 
        NEXT_BUILD_TAG=latest
      before_install:
        pip install --user pathlib
      script:
      - NEXT_BUILD_TAG=`date +"%m-%d-%Y"`
      - echo ".git" > .dockerignore
      - bundle exec rake docker:build
      - if [ "$NEXT_BUILD_TAG" != "latest" ]; 
          then docker tag acceptbitcoincash/acceptbitcoincash acceptbitcoincash/acceptbitcoincash:"$NEXT_BUILD_TAG"; 
        fi
      deploy:
      - provider: script
        skip-cleanup: true
        script:
        # - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin; docker push acceptbitcoincash/acceptbitcoincash
        - docker login -u "$DOCKER_USERNAME" -p "$DOCKER_PASSWORD"; docker push acceptbitcoincash/acceptbitcoincash
        on: 
          branch: master
          # tags: true
          # condition: $NEXT_BUILD_TAG != "latest"
      - provider: pages
        skip-cleanup: true
        github-token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
        fqdn: beta.acceptbitco.in
        keep-history: true
        repo: acceptbitcoincash/acceptbitcoincash
        target_branch: gh-pages
        on: 
          branch: master
  allow_failures:
    - stage: Test
      script:
        bundle exec rake external
      if: type IN (pull_request, cron)
notifications:
  webhooks: https://www.travisbuddy.com/
  slack:
    rooms:
      - secure: "vIMiDIutWLX4xPWK4+HRh39MdAaNLl+UcK7UjNlehHIuopZPbnH+TmqFg5726ZDhkQ6QN/lHYVuHTvW9Kp+f7uiuRX2QLJH4vZZrcvsXeRccWbVx7MlMW9hbOnvB73nUmezaHploSpMINKWRD51PhLlONbztLCzYmOoBfLRDvrmEY7kzoiMFCCZwPIzIiyB1LrEhSQD3YELgZ+ZDipFUeVA2yrBKZSZZoM7ubcpqNZHhx+3uAJrpQ66k36eprrXM7IC8Qy8u2AcV1hNnczNM+jUts/PKyCjH4vIjh4JEVNN/gBLY30oDOR6d95szme/4BWEPCcP2Sz3MQTtkN5tXaAmRRKqwYUv+lB0lTB5EB28SD9Sa3Q6HJhIQ5BVuO0Lmdwe8CVBTy7lmwcyuUqW5y0MHQF6HAZj2lSN8pktInFD40o+FQgC03YEiXWJbCYzny7LmE0T6ZgycvFzr/S28cDXiPemPMg4333aDjHj02631gRZtMG9dh7u35UnjuWU1Qs2ke2Irx2GJadp5LHp7++ssHWdmZKVJlKSvh679QCNvlG5CvWD/VinBvibTR61Py+b0Zk+k3++fz3YcJZ89ZCAyQ4yWCsGB7nNjpaMYcBHgHwgNBF6Gk3x71A2N3NfQrm2pcoB3+KM3QMVFmZrUD74Ni8TLXOdK2GHmYaqMI9A="
    on_success: change
    on_failure: always
    on_pull_requests: always 