---
layout: default
title: Adoption

id: adoption
page_name: adoption
has_search: no
show_bch_only: no
---

<div id="maingrid" class="ui container {{ page.id }}">
{%- assign pages = site.data.sections | group_by:"page" | sort:"name" -%}
{%- assign sortedPages = pages | reverse -%}
{% for tracked_page in sortedPages %}
	{%- assign count_total = 0 -%}
	{%- assign count_bch = 0 -%}
	{%- for section in tracked_page.items -%}
		{%- assign section_file = site.data[section.id] -%}
		{%- for website in section_file.websites -%}
			{%- assign count_total = count_total | plus: '1' -%}
			{%- if website.bch -%}
				{%- assign count_bch = count_bch | plus: '1' -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endfor -%}
	{% include segment/progress-bar.html value=count_bch total=count_total page=tracked_page.name %}
{% endfor %}

{%- if page.show_bch_only -%}
{%- assign count_total = 0 -%}
{%- assign count_bch = 0 -%}
{% for tracked_page in pages %}
	{%- for section in tracked_page.items -%}
		{%- assign section_file = site.data[section.id] -%}
		{%- for website in section_file.websites -%}
			{%- if website.btc or website.othercrypto or website.bsv -%}
				{%- assign count_total = count_total | plus: '1' -%}
			{%- elsif website.bch -%}
				{%- assign count_bch = count_bch | plus: '1' -%}
				{%- assign count_total = count_total | plus: '1' -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endfor -%}
{% endfor %}
{% include segment/progress-bar.html value=count_bch total=count_total page="only-bch" %}
{%- endif -%}

{%- assign count_total = 0 -%}
{%- assign count_bch = 0 -%}
{% for tracked_page in pages %}
	{%- for section in tracked_page.items -%}
		{%- assign section_file = site.data[section.id] -%}
		{%- for website in section_file.websites -%}
			{%- if website.btc -%}
				{%- assign count_total = count_total | plus: '1' -%}
				{%- if website.bch -%}
					{%- assign count_bch = count_bch | plus: '1' -%}
				{%- endif -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endfor -%}
{% endfor %}
{% include segment/progress-bar.html value=count_bch total=count_total page="cobra" %}
</div>
<br/><br/><br/>
