# Below is a list of files/directories along with their owner.
# Owners are responsible for their files and owner approval is needed before any changes to said files can occur.
# This is managed by GitHub's "code owners" feature https://github.com/blog/2392-introducing-code-owners

# Jekyll and website design
js/*		@psgs
css/*		@psgs
lib/*		@psgs
_layouts/*	@psgs
_includes/*	@psgs
_sass/*		@psgs
_config.yml	@psgs

# Core files
CNAME		@2factorauth/core
LICENSE		@2factorauth/core

# Miscellaneous files
data.json	@carlgo11
verify.rb	@stephengroat
Rakefile	@stephengroat
