# Below is a list of files/directories along with their owner.
# Owners are responsible for their files and owner approval is needed before any changes to said files can occur.
# This is managed by GitHub's "code owners" feature https://github.com/blog/2392-introducing-code-owners

# Jekyll and website design
*           @t0p0lin0 @kenman345 @rawb0t @deadr0ck @joshmcintyre
_data/* 		@t0p0lin0 @kenman345 @rawb0t @deadr0ck @joshmcintyre
_includes/*	@t0p0lin0
_layouts/*	@t0p0lin0
_sass/*		  @t0p0lin0
css/*		    @t0p0lin0
img/*		    @t0p0lin0 @kenman345 @rawb0t @deadr0ck @joshmcintyre
js/*		    @t0p0lin0
notes/*		  @t0p0lin0 @kenman345 @rawb0t @deadr0ck @joshmcintyre
_config.yml	@t0p0lin0

# Core files
CNAME		@acceptbitcoincash/core
LICENSE		@acceptbitcoincash/core

# Miscellaneous files
data.json	@carlgo11
verify.rb	@stephengroat
Rakefile	@stephengroat
