---
layout: default
---

{% include header.html page='dongles' %}

<div class="banner ui center aligned icon header">
    <img src="{{ site.uri }}/img/usb_stick.png" class="icon" alt="USB Stick">
    <h2>Two Factor Auth (2FA) Dongles</h2>
    <div class="sub header">
      List of <a href="https://en.wikipedia.org/wiki/Multi-factor_authentication">2FA</a>
      dongle providers and the platforms they support.
    </div>
    <div class="sub header">
      Also see the list of <a href="/">sites offering 2FA</a>.
    </div>
    <div class="sub header">
      Add your own favorite by submitting a pull request on the
      <a href="https://github.com/nitrokey/dongleauth">GitHub repo</a>.
    </div>
</div>

<div class="ui main container">
    <div id="{{ provider.name }}" class="section">
        <table class="ui table celled content-wrapper">
            <thead>
                <tr>
                    <th class="single line four wide"><h2>Dongle</h2></th>
                    <th class="two wide">One Time Passwords (OTP)</th>
                    <th class="two wide">Universal 2nd Factor (U2F)</th>
                </tr>
            </thead>
            <tbody>
              {% assign sorted_providers = site.data.providers.providers | sort: 'name' %}
              {% for provider in sorted_providers %}

                {% if provider.u2f or provider.otp %}
                  <tr>
                    <td class="main positive">
                    {% if provider.img %}
                        <img src="{{ site.uri }}/img/placeholder.png" data-src="{{ site.uri }}/img/providers/{{ provider.img }}" class="icon" alt="{{ provider.name }}">
                        <noscript><img src="{{ site.uri }}/img/providers/{{ provider.img }}" class="icon" alt="{{ provider.name }}"></noscript>
                    {% endif %}
                        <a class="{{ provider.class }}" href="{{ provider.url }}">{{ provider.name }}</a>
                    </td>

                    <td class="positive icon">
                    {% if provider.otp %}
                        <i class="checkmark large icon"></i>
                    {% endif %}
                    </td>

                    <td class="positive icon">
                    {% if provider.u2f %}
                        <i class="checkmark large icon"></i>
                    {% endif %}
                    </td>

                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
