---
layout: default
title: Two Factor Auth
---



<div class="ui fixed transparent inverted teal main menu">
    <div class="menu">
        <div class="right menu">
            <a href="https://github.com/jdavis/twofactorauth" class="item">
                <i class="github icon"></i>
                Contribute
            </a>
        </div>

    {% for section in site.data.main.sections %}
        <a href="{% if forloop.first %}#{% else %}#{{ section.id }}{% endif %}" class="item">
            <i class="{{ section.icon }} icon"></i>
            {{ section.title }}
        </a>
    {% endfor %}
    </div>
</div>

<div class="main container">
    <div class="ui grid">
        <div class="column">


        {% for section in site.data.main.sections %}
            <div id="{{ section.id }}" class="section">
                <h2 class="ui header">
                    {{ section.title }}
                </h2>

                <table class="ui table celled segment">
                    <thead>
                        <tr>
                            <th class="eleven wide">Site</th>
                            <th>Docs</th>
                            <th>SMS</th>
                            <th>Google Auth</th>
                            <th class="two wide">Custom App</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for site in section.sites %}
                        <tr>
                        {% if site.tfa %}
                            <td class="positive">
                            {% if site.img %}
                                <img src="{{ site.img }}" class="icon" alt="{{ site.name }}">
                            {% endif %}
                                <a href="{{ site.url }}">{{ site.name }}</a>
                            </td>

                            {% if site.doc %}
                                <td class="positive icon"><a href="{{ site.doc }}"><i class="external url large icon"></i></a></td>
                            {% else %}
                                <td class="positive icon"></td>
                            {% endif %}

                            {% if site.sms %}
                                <td class="positive icon"><i class="checkmark large icon"></i></td>
                            {% else %}
                                <td class="negative icon"><i class="remove large icon"></i></td>
                            {% endif %}

                            {% if site.goog %}
                                <td class="positive icon"><i class="checkmark large icon"></i></td>
                            {% else %}
                                <td class="negative icon"><i class="remove large icon"></i></td>
                            {% endif %}

                            {% if site.apps %}
                                <td class="positive icon">
                                {% for icon in site.apps %}
                                    <i class="{{ icon }} small icon"></i>
                                {% endfor %}
                                </td>
                            {% else %}
                                <td class="negative icon"><i class="remove large icon"></i></td>
                            {% endif %}
                        </tr>
                        {% else %}
                            <td class="negative">
                                <a href="{{ site.url }}">{{ site.name }}</a>
                            </td>
                            <td class="negative"><i class="remove large icon"></td>
                            <td class="negative"><i class="remove large icon"></td>
                            <td class="negative"><i class="remove large icon"></td>
                            <td class="negative"><i class="remove large icon"></td>
                        {% endif %}
                {% endfor %}
                    </tbody>
                </table>

                <div class="ui horizontal icon divider"><i class="{{ section.icon }} circular icon"></i></div>
            </div><!-- Section -->
        {% endfor %}

        </div><!-- Column -->
    </div><!-- UI Grid -->
</div><!-- Main Container -->
