---
layout: default
---

{% include header.html page='restrictions' %}

<div class="ui center aligned icon header">
    <i class="circular mobile icon"></i>

    <h2>Two Factor Auth (2FA) Restrictions</h2>

    <div class="sub header">Restrictions on the
        <a href="/">list of sites</a>
        that support 2FA.
    </div>
</div>

{% comment %}
List all the exception includes here in __alphabetical__ order.

The first one should be passed with `class='top'` and the last
should be passed with `class='bottom'`.

To add a site, just copy and paste the
_includes/exceptions/_template.html file and use that as the base.

Example:
{% include exceptions/amazon.html class='top' %}
{% include exceptions/paypal.html %}
{% include exceptions/twitter.html class='bottom' %}

{% endcomment %}

{% include exceptions/none.html %}

{% comment %}
End the exceptions includes.
{% endcomment %}
