<div class="ui basic modal about-this-site">
  <div class="ui icon header">
    <noscript>
      <img src="/img/ab.c-logo-only.png" alt="the Accept Bitcoin Cash initiative">
    </noscript>
    <img src="{{ page.encoded_img_placeholder }}" data-src="/img/ab.c-logo-only.png" alt="the Accept Bitcoin Cash initiative" data-tooltip="the Accept Bitcoin Cash initiative" data-position="top center" data-inverted="">
    <br>
    About the Accept Bitcoin Cash Initiative
  </div>
  <p>This site was built as a means to connect consumers and merchants, while spreading awareness and promoting global adoption of Bitcoin Cash. It is our hope that as time goes on, more and more sites will be accepting Bitcoin Cash as a fast and secure payment method, with the added benefits of low fees, no third-party, atop a very strong decentralized network.</p>
  <br>
  <h4>The community factor</h4>
  <p>The site is open source, which allows for anyone to contribute, submitting new sites that either accept, or do not <em>(yet)</em> accept Bitcoin Cash. Please read our <a href="{{ '/blob/master/CONTRIBUTING.md' | prepend: site.repo }}" target="_blank">contribution guidelines</a> to learn how to help. Any contributions are welcomed, and will be added once verified by others.</p>
  <br>
  <h4>The future</h4>
  <p>Many believe that Bitcoin Cash is the true continuation of <a href="https://bitcoin.com/bitcoin.pdf" target="_blank">Satoshi's vision</a>. We're committed to supporting this site in order to keep it updated with accurate information, as well as adding new features and functionality as the opportunity arises.</p>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Close
    </div>
  </div>
</div>

