<div class="ui basic modal adult-warning">
  <div class="ui icon header">
    <i class="warning circle icon"></i>
    WARNING!
  </div>
  <p>The listings ahead are links to sites containing <b>sexually oriented adult material</b> intended for individuals 18 years of age or older. If you are not yet 18, or if adult material offends you, please return to the homepage.</p>
  <div class="ui center aligned segment">
    <div class="ui checkbox">
      <input id="adult-warning-checkbox" type="checkbox" aria-label="Don't show this warning again checkbox">
      <label for="adult-warning-checkbox">Don't show this warning again</label>
    </div>
  </div>
  <p style="text-align: center"><small><em><i class="asterisk icon"></i>Enabling the checkbox above places a cookie in your browser which remembers your preference.</em></small></p>
  <div class="actions">
    <a href="/">
      <div class="ui red basic cancel button">
        <i class="home icon"></i>
        Return to Homepage
      </div>
    </a>
    <div class="ui green basic approve button">
      <i class="checkmark icon"></i>
      Continue to Adult Listings
    </div>
  </div>
</div>

