<div class="ui basic modal art-collections">

	<div class="ui large icon header" id="media-collections">
		<i class="qrcode icon"></i>
		Artwork Collections
	</div>

	<div class="asset-intro">
		<p>Below is a listing of collections/albums. Each provides many different high quality formats. The assets that are also found on this website were sourced from these collections.</p>
	</div>

	<div class="ui relaxed divided inverted list left aligned segment artwork-list">
		<div class="item">
			<i class="large github middle aligned icon"></i>
			<div class="content">
				<a class="header" href="https://github.com/theantnest/BCH-Orange-Art" target="_blank">Bitcoin-Cash-Orange-Art</a>
				<div class="description">by theantnest</div>
			</div>
		</div>
		<div class="item">
			<i class="large github middle aligned icon"></i>
			<div class="content">
				<a class="header" href="https://github.com/theantnest/Bitcoin-Cash-Green-Art" target="_blank">Bitcoin-Cash-Green-Art</a>
				<div class="description">by theantnest</div>
			</div>
		</div>
		<div class="item">
			<i class="large folder open middle aligned icon"></i>
			<div class="content">
				<a class="header" href="https://bitcoinlogo.eu/" target="_blank">Promotional graphics resources for all flavours of Bitcoin</a>
				<div class="description">by u/BigBlockIfTrue</div>
			</div>
		</div>
		<div class="item">
			<i class="large send middle aligned icon"></i>
			<div class="content">
				<a class="header" href="{{ '/issues' | prepend: site.repo }}" target="_blank">Submit your own collection</a>
				<div class="description">by creating an issue, or a pull request on our repo</div>
			</div>
		</div>
	</div>

	<div class="actions">
		<div class="ui red basic cancel inverted button">
			<i class="remove icon"></i>
			Close
		</div>
	</div>

</div>
