<div class="ui basic modal ama-customer">
	<div class="ui icon header">
		<i class="user icon"></i>
		Customer Resources
	</div>
	<h4>What is Bitcoin Cash?</h4>
	<p><span class="remember-this">Bitcoin Cash is peer-to-peer electronic cash for the Internet</span>. It is fully decentralized, with no central bank and requires no trusted third parties to operate. Visit the <a href="https://bitcoincash.org" target="_blank">BitcoinCash.org website</a> to learn more.</p>
	<br>
	<h4>Where can I get Bitcoin Cash?</h4>
	<p>There are a multitude of ways, however the most common and easiest method would be to purchase it online via an exchange, or similar service. Check the "<b>Crypto Exchanges</b>" and "<b>Crypto Services</b>" sections on this site where you'll find a plethora of options to acquire Bitcoin Cash from those who support it.</p>
	<br>
	<h4>Is Bitcoin Cash different from 'Bitcoin'?</h4>
	<p>Yes. Bitcoin Cash is the continuation of the Bitcoin (Legacy) project as peer-to-peer digital cash. It is a fork of the Bitcoin blockchain ledger, with upgraded consensus rules that allow it to grow and scale.</p>
	<br>
	<h4>If I own Bitcoin (Legacy), do I automatically own Bitcoin Cash too?</h4>
	<p>Anyone who held Bitcoin (Legacy) at the time Bitcoin Cash was created became owners of Bitcoin Cash. This means that Bitcoin (Legacy) holders as of block <a href="http://blockdozer.com/insight/block/000000000000000000651ef99cb9fcbe0dadde1d424bd9f15ff20136191a5eec" target="_blank" data-tooltip="The Exodus block." data-position="bottom center">478558</a> (August 1st, 2017 about 13:16 UTC) have the same amount of Bitcoin Cash as they had Bitcoin (Legacy) at that time. If your Bitcoins are stored by a third party such as an exchange, then you must inquire with them about your Bitcoin Cash.</p>
	<p>Any transactions after the August 1st ledger split are completely separate between Bitcoin (Legacy) and Bitcoin Cash. This means any Bitcoin (Legacy) acquired after the split does not include any Bitcoin Cash, and any Bitcoin Cash does not include any Bitcoin (Legacy).</p>
	<h4>Remember...</h4>
	<p><span class="remember-this">Always transact responsibly.</span> Check HTTPS certificates, and <span class="super-important">never reveal your private key or mnemonic seed</span> to anyone!</p>
	<div class="actions">
		<div class="ui red basic cancel inverted button">
			<i class="remove icon"></i>
			Close
		</div>
	</div>
</div>
