<div class="ui basic modal disclaimer">
	<div class="ui icon header">
		<i class="warning sign icon"></i>
	</div>
	<p>The site maintainers do not endorse nor confirm the legitimacy of any of the sites/merchants linked to on this site. This is an open source project which accepts submissions from the general community. While we try our best to verify the information submitted, it's possible that we may miss something. <a href="{{ '/issues/new' | prepend: site.repo }}" target="_blank">Please let us know</a> of any inconsistencies, errors, or suspicious listings that you may find as well!</p>
	<p><span class="remember-this">Always transact responsibly.</span> Check HTTPS certificates, and <span class="super-important">never reveal your private key or mnemonic seed</span> to anyone!</p>
	<div class="actions">
		<div class="ui green basic cancel inverted button">
			<i class="check icon"></i>
			I understand.
		</div>
	</div>
</div>
