<div class="ui basic modal assets">

	<div class="ui large icon header">
		<i class="image icon"></i>
		Image Assets
	</div>

	<div class="asset-intro">
		<p>Here you'll find some suggested images that you can use, or feel free to create your own, as <em>Bitcoin Cash is decentralized</em>. We would only encourage you to primarily use the standard logo, which is designated by its 'cash bill sides' and upwards facing <i class="bitcoin icon"></i><i class="arrow right icon"></i> <img class="p-logo" src="/img/coin-bcc.png" alt="Bitcoin Cash"> Orange is the preferred color of use.</p>
		<p>Below is a collection of images that you may use. Many different high quality formats are provided. The images below were sourced from the artwork collections also found on this website.</p>
	</div>

	<div class="image content">
		<div class="assets">
			<a href="https://forum.bitcoincash.org/media/MediaKit.zip"><img class="image" src="/img/bitcoin_cash-logo-643756.png"></a>
			<a href="https://forum.bitcoincash.org/media/MediaKit.zip"><img class="image" src="/img/bitcoin_cash-logo-421532.png"></a>
			<a href="https://forum.bitcoincash.org/media/MediaKit.zip"><img class="image" src="/img/bitcoin_cash-logo-732654.png"></a>
			<a href="https://forum.bitcoincash.org/media/MediaKit.zip"><img class="image" src="/img/bitcoin_cash-logo-883453.png"></a>
			<a href="https://forum.bitcoincash.org/media/MediaKit.zip"><img class="image" src="/img/bitcoin_cash-logo-297535.png"></a>
			<a href="https://bitcoinlogo.eu/bitcoincash-dark.xhtml" target="_blank"><img class="image" src="/img/bitcoin_cash-logo-239743.png"></a>
			<a href="https://bitcoinlogo.eu/accept-large-bitcoincash-straight.xhtml" target="_blank"><img class="image" src="/img/bitcoin_cash-logo-943854.png"></a>
			<a href="https://bitcoinlogo.eu/bitcoincash-round.xhtml" target="_blank"><img class="image" src="/img/bitcoin_cash-logo-947542.png"></a>
			<a href="https://bitcoinlogo.eu/love-bitcoincash-round.xhtml" target="_blank"><img class="image" src="/img/bitcoin_cash-logo-304585.png"></a>
			<a href="https://bitcoinlogo.eu/accept-small-bitcoincash-straight.xhtml" target="_blank"><img class="image" src="/img/bitcoin_cash-logo-885873.png"></a>
			<a href="https://github.com/theantnest/Bitcoin-Cash-Green-Art/blob/master/BCC%20Logo%20(Text)/BCC%20Logo%20Text%20RGBA.png" target="_blank"><img class="image" src="/img/bitcoin_cash-logo-128359.png"></a>
			<a href="https://github.com/theantnest/Bitcoin-Cash-Green-Art/blob/master/BCC%20Logo%20(No%20Text)/BCC%20Logo%20Green.png" target="_blank"><img class="image" src="/img/bitcoin_cash-logo-901274.png"></a>
			<a href="https://github.com/theantnest/Bitcoin-Cash-Green-Art/blob/master/Banners/BCC%20Banner%202%20RGBA.png" target="_blank"><img class="image" src="/img/bitcoin_cash-logo-357854.png"></a>
			<a href="https://github.com/theantnest/Bitcoin-Cash-Green-Art/blob/master/BCC%20Accepted%20Here%20Sticker/BCC%20Accepted%20Here%20Green%20RGBA.png" target="_blank"><img class="image" src="/img/bitcoin_cash-logo-923741.png"></a>
			<a href="https://github.com/theantnest/Bitcoin-Cash-Green-Art/blob/master/Banners/BCC%20Banner%201%20RGBA.png" target="_blank"><img class="image" src="/img/bitcoin_cash-logo-696784.png"></a>
			<a href="https://github.com/theantnest/Bitcoin-Cash-Green-Art/blob/master/BCC%20Round%20Icon/BCC%20Round%20Icon%20RGBA.png" target="_blank"><img class="image" src="/img/bitcoin_cash-logo-856493.png"></a>
			<a href="https://github.com/theantnest/Bitcoin-Cash-Green-Art/blob/master/Paper%20Wallet/BCC%20Paper%20Money.png" target="_blank"><img class="image" src="/img/bitcoin_cash-paper_wallet-329047.png"></a>
		</div>
	</div>

	<div class="actions">
		<div class="ui red basic cancel inverted button">
			<i class="remove icon"></i>
			Close
		</div>
	</div>

</div>