<div class="ui basic modal ama-merchant">
	<div class="ui large icon header">
		<i class="barcode icon"></i>
		Merchant Information
	</div>
	<h4 style="text-align: center"><em>We're working on compiling help and resources for merchants looking to accept Bitcoin Cash, but in the meantime, we recommend checking out this wonderful guide written by Derek Magill:</em></h4>
	<h3><a href="https://derekmagill.com/2018/05/05/bcommerce-guide/" target="_blank"><big>bCommerce:</big> A Guide to Accepting Bitcoin Cash<br>Payments for Your Online Store</a></h3>
	<div class="actions">
		<div class="ui red basic cancel inverted button">
			<i class="remove icon"></i>
			Close
		</div>
	</div>
</div>
