<div class="col-12 col-md btn cat" type="button" data-toggle="collapse" data-target="#{{section.id}}-table" aria-expanded="false" aria-controls="{{section.id}}-table" id="{{section.id}}">
  <h5 style="display: inline-block; text-align: center; margin-top: 0;">

    <div style="width: 100%;">
      <div style="display: flex; align-items: center; margin: auto;">
        <i class="{{section.icon}} category-icon fa-fw"></i>
      </div>
      <small class="category-title">{{ section.title }}</small>
    </div>
  </h5>
</div>