{% assign section_id = include.id-param %}
{% assign section_title = include.title-param %}

<div id="{{section_id}}-table" class="collapse category-table desktop-only">
  <a id="{{section_id}}" class="category-href"></a>
  <table class="table table-hover table-bordered table-bordered">
    <thead class="sticky-top">
      <tr>
        <th scope="col">{{ section_title }}</th>
        <th scope="col" class="icon-cell">Docs</th>
        <th scope="col" class="icon-cell">SMS</th>
        <th scope="col" class="icon-cell">Phone Call</th>
        <th scope="col" class="icon-cell">Email</th>
        <th scope="col" class="icon-cell">Hardware token</th>
        <th scope="col" class="icon-cell">Software token</th>
      </tr>
    </thead>
    <tbody class="searchContainer">
      {% for website in site.data[section_id].websites %}

        <tr class="table-{% if website.tfa %}success{%else %}danger{% endif %}">

          <td>
            <div class="searchWords" style="display: none;">{{ website.name }}&nbsp;{{ website.url }}&nbsp;{% for item in website.tfa %} 2fa:{{ item }}{% endfor %}</div>
            <div class="row no-gutters">
              <picture>
                {% assign webp = website.img | replace: ".png", ".webp" %}
                <source data-srcset="/img/{{section_id}}/{{webp}} 1x" type="image/webp">
                <img class="logo lazyload{% if website.no_img_border %} no-border{%endif%}" data-src="/img/{{ section_id }}/{{ website.img }}" src="/img/placeholder.png" alt="">
              </picture>

              <a class="site-name {% if website.exception %}exception-site{% endif %}" href="{{ website.url }}">{{ website.name }}</a>

              {% if website.exception %}
                <i class="fas fa-exclamation-triangle exception" data-content="{{ website.exception }}"></i>
              {% endif %}
            </div>
          </td>

          {% if website.tfa %}
            {% assign tfa = website.tfa %}

            <td class="icon-cell">
              {% if website.doc %}
                <a href="{{ website.doc }}">
                  <i class="fas fa-book"></i>
                </a>
              {% endif %}
            </td>

            <td class="icon-cell">
              {% if tfa contains "sms" %}
                <i class="tfa-icon fas fa-check"></i>
              {% endif %}
            </td>

            <td class="icon-cell">
              {% if tfa contains "phone" %}
                <i class="tfa-icon fas fa-check"></i>
                {%endif%}</td>
            </td>
            <td class="icon-cell">
              {% if tfa contains "email" %}
                <i class="tfa-icon fas fa-check"></i>
              {% endif %}
            </td>

            <td class="icon-cell">
              <div class="row">
                {% if tfa contains "hardware" %}
                  <i class="tfa-icon fas fa-check col"></i>
                {% endif %}

                {% if tfa contains "u2f" %}
                  <i class="tfa-icon u2f-icon col" title="U2F">
                    <img alt="U2F" height="20" src="/img/u2f.svg" type="image/svg">
                  </i>
                {% endif %}
              </div>
            </td>

            <td class="icon-cell">
              <div class="row">
                {% if tfa contains "totp" %}
                  <i class="tfa-icon fas fa-check col"></i>
                {% endif %}
                {% if tfa contains "proprietary" %}
                  <i class="tfa-icon fas fa-info col" title="Proprietary software based 2FA"></i>
                {% endif %}
              </div>
            </td>
          {% else %}

            <td colspan="6">
              Tell them to support 2FA!
              <div class="social-button-group">
                {% if website.twitter %}
                  <div class="twitter-button social-button btn" data-twitter="{{ website.twitter }}" data-lang="{{ website.lang }}">
                    <i class="fab fa-twitter"></i>
                    On Twitter
                  </div>
                {% endif %}
                {% if website.facebook %}
                  <div class="facebook-button social-button btn" data-facebook="{{ website.facebook }}">
                    <i class="fab fa-facebook-f"></i>
                    On Facebook
                  </div>
                {% endif %}
                {% if website.email_address %}
                  <div class="email-button social-button btn" data-email="{{ website.email_address }}" data-lang="{{ website.lang }}">
                    <i class="fas fa-envelope"></i>
                    Via Email</div>
                {% endif %}
              </div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
