{% assign section_id = include.id-param %}
{% assign section_title = include.title-param %}
{% assign section_file = site.data[section_id] %}
<div class="website-table desktop-table {{ section_id }}-table" id="{{ section_id }}-desktoptable">
  <table class="ui celled table content-wrapper">
    <thead>
    <tr>
      <th class="single line four wide"><h3>{{ section_title }}</h3></th>
      <th class="two wide">Docs</th>
      <th class="two wide">SMS</th>
      <th class="two wide">Phone Call</th>
      <th class="two wide">Email</th>
      <th class="two wide">Hardware Token</th>
      <th class="two wide">Software Token</th>
    </tr>
    </thead>
    <tbody class="jets-content">
    {% for website in section_file.websites %}
    {% if website.lang and site.data.languages[website.lang] %}
      {% assign progress_tweet = site.data.languages[website.lang].progress_tweet %}
      {% assign workonit_tweet = site.data.languages[website.lang].work_tweet %}
    {% else %}
      {% assign progress_tweet = page.progress_tweet %}
      {% assign workonit_tweet = page.workonit_tweet %}
    {% endif %}
    <tr class="desktop-tr">
      {% if website.status %}
        <td class="main progress">
          {% include row-title.html section=section_id website=website type='desktop' %}
          <div class="progress-info">
            <a class="ui mini orange button" href="{{website.status}}" target="_blank">
              <i class="star icon"></i> In Progress!
            </a>
          </div>
        </td>
        <td class="twitter progress" colspan="6">
          <a class="ui twitter mini button"
             href="https://twitter.com/share?url={{site.url|cgi_escape}}&amp;text={{progress_tweet|replace:'TWITTERHANDLE',website.twitter|cgi_escape}}&amp;hashtags={{page.hash|cgi_escape}}"
             target="_blank"><i class="twitter icon"></i> {{page.link_progress}}</a>
        </td>
      {% elsif website.tfa %}
        <td class="main positive">
          {% include row-title.html section=section_id website=website type='desktop' %}
        </td>

        <td class="positive icon">
          {% if website.doc %}
          <a href="{{ website.doc }}"><i class="book link large icon"></i></a>
          {% endif %}
        </td>

        <td class="positive icon">
          {% if website.sms %}
          <i class="checkmark large icon" title="SMS"></i>
          {% endif %}
        </td>

        <td class="positive icon">
          {% if website.phone %}
          <i class="checkmark large icon" title="Phone"></i>
          {% endif %}
        </td>

        <td class="positive icon">
          {% if website.email %}
          <i class="checkmark large icon" title="Email"></i>
          {% endif %}
        </td>

        <td class="positive icon">
          {% if website.hardware %}
          <i class="checkmark large icon" title="Hardware Token"></i>
          {% endif %}
        </td>

        <td class="positive icon">
          {% if website.software %}
          <i class="checkmark large icon" title="Software Token"></i>
          {% endif %}
        </td>
      {% else %}
        <td class="main negative">
          {% include row-title.html section=section_id website=website type='desktop' %}
        </td>
        <td class="twitter negative" colspan="6">
          {% if website.twitter or website.facebook or website.email_address %}<span>{{page.link}} </span>{% endif %}
          {% if website.twitter %} <a class="ui twitter mini button" href="https://twitter.com/share?url={{site.url|cgi_escape}}&amp;text={{workonit_tweet|replace:'TWITTERHANDLE',website.twitter|cgi_escape}}&amp;hashtags={{page.hash|cgi_escape}}" target="_blank"><i class="twitter icon"></i> on Twitter</a>{% endif %}
          {% if website.facebook %} <a class="ui facebook mini button" href="https://facebook.com/{{website.facebook}}/" target="_blank"><i class="facebook icon"></i> on Facebook</a>{%endif%}
          {% if website.email_address %} <a class="ui green mini button" href="mailto:{{website.email_address}}?subject=Support%20Two%20Factor%20Authentication" target="_blank"><i class="mail icon"></i> via Email</a>{% endif %}
        </td>
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
