{% assign section_id = include.id-param %}
{% assign section_title = include.title-param %}
{% assign section_file = site.data[section_id] %}
<div class="website-table desktop-table {{ section_id }}-table" id="{{ section_id }}-desktoptable">
  <table class="ui celled table content-wrapper">
    <thead>
    <tr>
      <th class="single line three wide"><h3>{{ section_title }}</h3></th>
      <th class="two wide">About</th>
      <th class="two wide">Supports</th>
      <th class="two wide">Others</th>
    </tr>
    </thead>
    <tbody class="jets-content">
    {% for website in section_file.websites %}
    <tr class="desktop-tr">
      <td class="main positive">
        {% include row-title.html section=section_id website=website type='desktop' %}
      </td>
      {% if website.summary %}
      <td class="positive icon">
        {% capture html %}
        <div class='header'>
            Summary
        </div>
        <div class='content'>
            {% if website.summary.text %}
            {{ website.summary.text }}
            {% endif %}
        </div>
        {% endcapture %}
        {% if website.summary.text %}
            <span class="popup exception" data-position="bottom center" data-html="{{ html | strip_newlines }}">
              <i class="book link blue large icon"></i>
            </span>    
        {% endif %}
      </td>
      {% else %}
      <td class="positive icon">
        <i class="book link red large icon"></i>
      </td>
      {% endif %}
      <td class="positive icon">
        {% if website.bitcoin %}
        <img src="/img/bitcoin.png" width="40" height="40" title="Supports Bitcoin Payments">
        {% endif %}
        {% if website.lightning %}
        <img src="/img/logo.png" width="40" height="40" title="Supports Lightning Payments">
          <!-- {% if website.node.uri %}
          <a href="https://1ml.com/node/{{website.node.key}}" target="_blank">{{website.node.key}}@{{website.node.uri}}</a>
          {% endif %} -->
        {% endif %}
      </td>
      <td class="positive icon">
        {% if website.other %}
        {% capture html %}
        <div class='header'>
          Other Supported Crypto
        </div>
        <div class='content'>
        {% if website.other.coins %}
        {{ website.other.coins }}
        {% endif %}
        </div>
        {% endcapture %}
        <span class="popup exception" data-position="bottom center" data-html="{{ html | strip_newlines }}">
          <i class="checkmark large icon" title="Other Supported Payments"></i>
        </span>
        {% else %}
        <i class="x red large icon" title="Other Supported Crypto"></i>
        {% endif %}
      </td>  
    </tr>
    {% if website.node %}
    <tr>
      <td class="single line wide" colspan="3">
        <b>Channel:</b><a href="https://1ml.com/node/{{website.node.key}}" target="_blank"> 
          {{website.node.key}}@{{website.node.uri}}</a><input id="copyText" hidden value={{website.node.key}}@{{website.node.uri}}</input>
        <button class="button" onclick="copyText();"><img src="/img/copy.png" width="20" height="20" title="Copy Node Key"></button>
      </td>
    </tr>
    <!-- <tr>
      <td class="hidden" colspan="3"></td>
    </tr> -->
    {% else %}
    <!-- <tr>
      <td class="hidden" colspan="3"></td>
    </tr> -->
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
</div>
