{% if include.website.exceptions %}

{% capture html %}
<div class='header'>
    Exceptions &amp; Restrictions
</div>
<div class='content'>
    {% if include.website.exceptions.text %}
        {{ include.website.exceptions.text }}
    {% endif %}
</div>
{% endcapture %}

    {% if include.website.exceptions.text %}
        <span class="popup exception"
            data-position="bottom center"
            data-html="{{ html | strip_newlines }}">
            <i class="warning sign red link icon"></i>
        </span>
    {% endif %}

{% endif %}
