<div class="fab">
  <button class="ui massive circular icon button" data-tooltip="Jump to top" data-position="left center" data-inverted="">
    <i class="angle double up icon"></i>
  </button>
  <button class="ui massive circular icon button" data-tooltip="Start a search" data-position="left center" data-inverted="">
    <i class="search icon"></i>
  </button>
  <button class="ui massive circular icon button" data-tooltip="Close category" data-position="left center" data-inverted="">
    <i class="toggle up icon"></i>
  </button>
</div>