<div class="fab">
  <button class="ui massive circular icon button" data-tooltip="Jump to top" data-position="left center"
    data-inverted="">
    <i class="angle double up icon"></i>
  </button>
  <a href="/add" target="_blank" class="ui massive circular icon button submit-new"
    data-tooltip="Add a site or correction" data-position="left center" data-inverted="">
    <i class="add icon"></i>
  </a>
  <button class="ui massive circular icon button" data-tooltip="Close category" data-position="left center"
    data-inverted="">
    <i class="toggle up icon"></i>
  </button>
</div>