<div class="ui teal inverted menu">
  <a href="/" class="item">
    <i class="home icon"></i>
    Home
  </a>

    {% if include.page == 'home' %}
    <div class="ui dropdown item">
      Categories <i class="dropdown icon"></i>
      <div class="menu">
        {% for section in site.data.main.sections %}
        {% if forloop.first %}
        <a href="#" class="item">
          <i class="{{ section.icon }} icon"></i>
          {{ section.title }}
        </a>
        {% else %}
        <a href="#{{ section.id }}" class="item">
          <i class="{{ section.icon }} icon"></i>
          {{ section.title }}
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="right menu">
      <a href="{{ site.repo }}" class="item">
        <i class="github alternate icon"></i>
        Contribute
      </a>
    </div>
</div>
