<meta content="/img/icons/icon_310x310.png" name="msapplication-square310x310logo">

<link href="/img/icons/apple-icon_128x128.png" rel="apple-touch-icon" sizes="128x128">
<link href="/img/icons/apple-icon_180x180.png" rel="apple-touch-icon" sizes="180x180">
<link href="/img/icons/apple-icon_192x192.png" rel="apple-touch-icon" sizes="192x192">

<link href="/img/icons/icon.svg" rel="icon">
<link href="/img/icons/icon_192x192.png" rel="icon" sizes="192x192">

<link href="/img/icons/splashscreens/iphone5_splash.png"
  media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
  rel="apple-touch-startup-image" />
<link href="/img/icons/splashscreens/iphone6_splash.png"
  media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)"
  rel="apple-touch-startup-image" />
<link href="/img/icons/splashscreens/iphoneplus_splash.png"
  media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)"
  rel="apple-touch-startup-image" />
<link href="/img/icons/splashscreens/iphonex_splash.png"
  media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)"
  rel="apple-touch-startup-image" />
<link href="/img/icons/splashscreens/iphonexr_splash.png"
  media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)"
  rel="apple-touch-startup-image" />
<link href="/img/icons/splashscreens/iphonexsmax_splash.png"
  media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)"
  rel="apple-touch-startup-image" />
<link href="/img/icons/splashscreens/ipad_splash.png"
  media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)"
  rel="apple-touch-startup-image" />
<link href="/img/icons/splashscreens/ipadpro1_splash.png"
  media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)"
  rel="apple-touch-startup-image" />
<link href="/img/icons/splashscreens/ipadpro3_splash.png"
  media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)"
  rel="apple-touch-startup-image" />
<link href="/img/icons/splashscreens/ipadpro2_splash.png"
  media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)"
  rel="apple-touch-startup-image" />

<link rel="mask-icon" href="/img/icons/apple-icon.svg">
