{% assign section_id = include.id-param %}
{% assign section_title = include.title-param %}
{% assign section_file = site.data[section_id] %}
<div class="website-table mobile-table {{ section_id }}-table" id="{{ section_id }}-mobiletable" style="display:none">
  <div class="label">
    <h3>{{ section_title }}</h3>
  </div>
  <div class="bcc-merchant-content">
    {% if section_title == "Banking" %}
    <div class="main negative">
      <div class="title">
        <i class="big remove circle icon"></i> Nothing found.
      </div>
    </div>
    {% endif %}
    {% for website in section_file.websites %}
    {% if website.lang and site.data.languages[website.lang] %}
      {% assign progress_tweet = site.data.languages[website.lang].progress_tweet %}
      {% assign workonit_tweet = site.data.languages[website.lang].work_tweet %}
    {% else %}
      {% assign progress_tweet = page.progress_tweet %}
      {% assign workonit_tweet = page.workonit_tweet %}
    {% endif %}
    {% if website.status %}
    <div class="main progress">
      <div class="title">
        {% if website.img %}
        <noscript><img src="/img/{{ section_id }}/{{ website.img }}" class="icon" alt="{{ website.name }}"></noscript>
        <img src="/img/placeholder.png" data-src="/img/{{ section_id }}/{{ website.img }}" class="icon"
             alt="{{ website.name }}">
        {% endif %}
        <a href="{{ website.url }}" class="name">{{ website.name }}</a>
        {% include exception.html website=website %}

        <a href="{{ website.status }}" target="_blank">
          <i class="external url link large icon"></i>
        </a>
      </div>

      <p>IN PROGRESS!</p>

      <div>
        <a class="ui twitter mini button" href="https://twitter.com/share?url={{site.url|cgi_escape}}&amp;text={{progress_tweet|replace:'TWITTERHANDLE',website.twitter|cgi_escape}}&amp;hashtags={{page.hash|cgi_escape}}" target="_blank"><i class="twitter big icon"></i> {{page.link_progress_mobile}}</a>
      </div>
    </div>
    {% elsif website.bcc or website.btc or website.othercrypto %}
    <div {% if website.bcc %}class="main positive"{% elsif website.btc or website.othercrypto %}class="main negative"{% endif %}>
      <div class="title">
        {% if website.img %}
        <noscript><img src="/img/{{ section_id }}/{{ website.img }}" class="icon" alt="{{ website.name }}"></noscript>
        <img src="/img/placeholder.png" data-src="/img/{{ section_id }}/{{ website.img }}" class="icon" alt="{{ website.name }}">
        {% endif %}
        <a href="{{ website.url }}" target="_blank" class="name">{{ website.name }}</a>
        {% include exception.html website=website %}
      </div>
      <p>Supported:</p>
      {% if website.bcc %}
      <div class="mobile-logo coin-wrap green-coin-wrap" data-tooltip="Bitcoin Cash accepted at {{ website.name }}" data-position="top center" data-inverted="">
        <img src="/img/coin-bcc.png" alt="Bitcoin Cash">
      </div>
      {% endif %}
      {% if website.btc %}
      <div class="mobile-logo coin-wrap orange-coin-wrap" data-tooltip="Bitcoin accepted at {{ website.name }}" data-position="top center" data-inverted="">
        <img src="/img/coin-btc.png" alt="Bitcoin">
      </div>
      {% endif %}
      {% if website.othercrypto %}
      <div class="mobile-logo tbl-other-crypto">Other Crypto</div>
      {% endif %}
      {% if website.doc or website.twitter or website.facebook or website.email_address %}
      <div class="button-group">
        {% if website.doc %}
        <a href="{{ website.doc }}" target="_blank" title="{{page.rtfm}} {{website.name}}'s website" class="ui green mini button"><i class="book big icon"></i></a>
        {% endif %}
        {% if website.bcc %}
        {% elsif website.btc or website.othercrypto %}
        {% if website.twitter %} <a title="{{page.link_tweet|replace:'TWITTERHANDLE',website.twitter}}" data-position="left center" data-inverted="" class="ui twitter mini button" href="https://twitter.com/share?url={{site.url|cgi_escape}}&amp;text={{workonit_tweet|replace:'TWITTERHANDLE',website.twitter|cgi_escape}}" target="_blank"><i class="twitter big icon"></i></a>{% endif %}
        {% if website.facebook %} <a title="{{page.link_facebook|replace:'FACEBOOKHANDLE',website.facebook}}" data-position="right center" data-inverted=""  class="ui facebook mini button" href="https://facebook.com/{{website.facebook}}/" target="_blank"><i class="facebook big icon"></i></a>{%endif%}
        {% if website.email_address %} <a title="Send an e-mail to {{website.name}}" data-position="right center" data-inverted=""  class="ui green mini button" href="mailto:{{website.email_address}}?subject={{page.email_subject}}" target="_blank"><i class="mail big icon"></i></a>{% endif %}
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% else %}
    <div class="main negative">
      <div class="title">
        {% if website.img %}
        <noscript><img src="/img/{{ section_id }}/{{ website.img }}" class="icon" alt="{{ website.name }}"></noscript>
        <img src="/img/placeholder.png" data-src="/img/{{ section_id }}/{{ website.img }}" class="icon"
             alt="{{ website.name }}">
        {% endif %}
        <a href="{{ website.url }}" target="_blank" class="name">{{ website.name }}</a>
        {% include exception.html website=website %}
      </div>
      <p>No cryptocurrencies supported</p>
      <div class="button-group">
        {% if website.twitter %} <a title="{{page.link_tweet|replace:'TWITTERHANDLE',website.twitter}}" data-position="left center" data-inverted="" class="ui twitter mini button" href="https://twitter.com/share?url={{site.url|cgi_escape}}&amp;text={{workonit_tweet|replace:'TWITTERHANDLE',website.twitter|cgi_escape}}" target="_blank"><i class="twitter big icon"></i></a>{% endif %}
        {% if website.facebook %} <a title="{{page.link_facebook|replace:'FACEBOOKHANDLE',website.facebook}}" data-position="right center" data-inverted=""  class="ui facebook mini button" href="https://facebook.com/{{website.facebook}}/" target="_blank"><i class="facebook big icon"></i></a>{%endif%}
        {% if website.email_address %} <a title="Send an e-mail to {{website.name}}" data-position="right center" data-inverted=""  class="ui green mini button" href="mailto:{{website.email_address}}?subject={{page.email_subject}}" target="_blank"><i class="mail big icon"></i></a>{% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
