{% assign section_id = include.id-param %}
{% assign section_title = include.title-param %}

<div class="collapse category-table mobile-only searchContainer" id="{{section_id}}-mobile-table">
<h2 class="search-table-title">{{ section_title }}</h2>
  {% for website in site.data[section_id].websites %}

    <div class="col-11 {% if website.tfa %}table-success{%else%}table-danger{%endif%}">

      <div class="searchWords" style="display: none;">{{ website.name }}&nbsp;{{ website.url }}&nbsp;{% for item in website.tfa %} 2fa:{{ item }}{% endfor %}</div>
      <!-- Title -->
      <div class="site-title">
        <a class="site-name" href="{{ website.url }}">
          <picture>
            {% assign extension = website.img | split: "." | last %}
            {% if extension == ".png" %}
              {% assign webp = website.img | replace: ".png", ".webp" %}
              <source data-srcset="/img/{{section_id}}/{{webp}} 1x" type="image/webp">
            {% endif %}
            <img class="logo lazyload{% if website.no_img_border or extension == 'svg' %} no-border{%endif%}" data-src="/img/{{ section_id }}/{{ website.img }}" src="/img/placeholder.png" alt="">
          </picture>
          {{ website.name }}</a>
          {% if website.exception %}
                <i class="fas fa-exclamation-triangle exception" data-content="{{ website.exception }}"></i>
          {% endif %}
      </div>

      <!-- tfa options -->
      {% if website.tfa %}
        <div class="row row-cols-2">
          {% for tfa in website.tfa %}

            <div class="col text-success">
              <i class="fas fa-check"></i>
              <b>
                {{ tfa | replace: "proprietary", "software" | replace: "hardware", "hardware" | capitalize | replace: "Sms", "SMS" | replace: "Totp", "TOTP" | replace: "U2f", "U2F" }}</b>
            </div>

          {% endfor %}

        </div>

        {% if website.doc %}
          <div class="btn doc-btn col-11 col-sm-8 d-flex justify-content-center website-doc">
            <a href="{{ website.doc }}">
              <i class="fas fa-book"></i>
              Read more
            </a>
          </div>
        {% endif %}

      {% else %}

        <b class="text-danger">2FA not supported</b>
        <div class="row justify-content-center">

          {% if website.twitter %}

            <div class="col ml-md-auto twitter-button social-button btn" title="Tweet them!" data-twitter="{{ website.twitter }}" data-lang="{{ website.lang }}">
              <i class="fab fa-twitter"></i>
            </div>

          {% endif %}

          {% if website.facebook %}

            <div class="col facebook-button social-button btn" title="Contact them!" data-facebook="{{ website.facebook }}">
              <i class="fab fa-facebook-f"></i>
            </div>

          {% endif %}

          {% if website.email_address %}

            <div class="col email-button social-button btn" title="Email them!" data-email="{{ website.email_address }}" data-lang="{{ website.lang }}">
              <i class="fas fa-envelope"></i>
            </div>

          {% endif %}

        </div>
      {% endif %}

    </div>
  {% endfor %}

</div>
