<nav class="navbar navbar-expand-lg">
  <div class="container">
    <ul class="navbar-nav navbar-table ml-auto pr-5" style="flex-direction: row;">
      {% unless page.name == "index.html" %}
        <li class="nav-item" style="float:left">
          <a class="nav-link" href="/">Home</a>
        </li>
      {% endunless %}
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      {% if page.name == "index.html" %}
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" id="regionDropdown" role="button">
            Region
            {% assign baseurl = site.baseurl %}
            {% assign regions = site.data.regions | sort: "name" %}
            {% assign regions2 = regions | map: 'id' %}
            {% if regions2 contains baseurl %}
              {% if baseurl == 'ch' %}
                <span class="flag-icon flag-icon-squared flag-icon-{{ baseurl }}"></span>
              {% else %}
                <span class="flag-icon flag-icon-{{ baseurl }}"></span>
              {% endif %}
            {% else %}
              <i class="fas fa-globe-africa"></i>
            {% endif %}
          </a>
          <div aria-labelledby="regionDropdown" class="dropdown-menu">
            <a class="dropdown-item" href="/">
              <i class="fas fa-globe-africa"></i>
              Global</a>
            {% for region in regions %}
              <a class="dropdown-item" href="/{{ region.id }}/">
                {% if region.id == 'ch' %}
                  <span class="flag-icon flag-icon-squared flag-icon-{{ region.id }}"></span>
                {% else %}
                  <span class="flag-icon flag-icon-{{ region.id }}"></span>
                {% endif %}
                {{ region.name }}</a>
            {% endfor %}
          </div>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
