<div class="ui fixed transparent inverted teal main menu">
    <div class="menu">
        <div class="right menu">
            <a href="{{ site.repo }}" class="item">
                <i class="github icon"></i>
                Contribute
            </a>
        </div>

        <a href="/" class="item">
            <i class="home icon"></i>
            Home
        </a>

        <a href="/providers" class="item">
            <i class="play sign icon"></i>
            Providers
        </a>
    </div>
</div>

