{%- assign website = include.website -%}
{%- assign img_path = '/img/' | append: include.section | append: '/' | append: website.img -%}
<div class="title">
  <div class="keywords" style="display:none;">{{ website.name }}&nbsp;{{ website.url }}&nbsp;{% for item in website.tfa %} tfa:{{ item }}{% endfor %}</div>
  <noscript>
    <img src="{{ img_path }}" class="icon" alt="{{ website.name }}">
  </noscript>
  <img src="/img/placeholder.png" data-src="{{ img_path }}" class="icon" alt="{{ website.name }}">
  <a href="{{ website.url }}" class="name">{{ website.name }}</a>
  {%- include exception.html website=website -%}
  {%- if website.status and include.type == 'mobile' -%}
    <a href="{{ website.status }}" target="_blank">
      <i class="external url link large icon"></i>
    </a>
  {%- endif -%}
</div>
