<!-- 3rd Party Libraries -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"
        integrity="sha384-PSPYZ405uwFeU9YdtB0IByYECMwUIEGlSjmq1V7MD1zJLZ2VEw+8ko9hcpILlAjZ"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jets/0.13.0/jets.min.js"
        integrity="sha384-3XpZKO/6IouOQmpAvQxLkXEb/pwxGCYqUo139/l6M12U3HmeWnna/qKWIgIJTLPV"
        crossorigin="anonymous"></script>
<!-- AB.C JS -->
<script src="/js/main.js"></script>

{% if page.id == "adult-listings" %}
<!-- Adult section warning modal -->
  <script>
    $(document).ready(function () {

      $('#adult-warning-checkbox').click(function(){
        if($(this).prop('checked')) {
          createCookie('hideAdultWarning')
        } else {
          eraseCookie('hideAdultWarning')
        }
      });

      if (!readCookie('hideAdultWarning')) {
        $('.ui.modal.adult-warning')
          .modal('setting','closable', false)
          .modal('show');
      }

    });
  </script>
{% endif %}

{% if site.google_analytics and site.GH_ENV != 'gh_pages' %}
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script>
	(function(e,t,n,i,s,a,c){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(arguments)}
	;a=t.createElement(i);c=t.getElementsByTagName(i)[0];a.async=true;a.src=s
	;c.parentNode.insertBefore(a,c)
	})(window,document,"galite","script","https://cdn.jsdelivr.net/npm/ga-lite@2/dist/ga-lite.min.js");

	galite('create', '{{ site.google_analytics }}', 'auto');
	galite('send', 'pageview');
</script>
{% endif %}