<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="default" name="apple-mobile-web-app-status-bar-style">
<meta name="description" content="{{ site.description }}">
<meta name="application-name" content="{{ site.title }}">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="/img/icons/icon.svg">
<meta property="og:type" content="website">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ site.title }}">
<meta property="twitter:creator" content="{{ site.author }}">
<meta property="twitter:site" content="{{ site.twitter }}">
<meta property="twitter:image" content="https://repository-images.githubusercontent.com/17724730/63495880-b408-11e9-8cc4-03451aa4cc14">
<meta property="twitter:description" content="{{ site.description }}">
