// Palette used: http://paletton.com/#uid=52P0u0kw0o0n4v3uwucCwj-Ltee

$green: #4CCA47;
$green-light: #DAECD4;

$orange: #f08b16;
$orange-light: #DAECD4;

$link-color: #299595; //#044
$link-color-hover: #A291FB; //#299595
$link-color-active: #7258fd;
$link-color-light-alpha: rgba(241, 238, 255, 0.75);

div,
.ui.table td {
  &.positive {
    background-color: rgba(46, 204, 64, 0.15) !important;

    p {
      color: rgba(45, 135, 46, 0.91);
    }
  }

  &.negative {
    background-color: rgba(255, 65, 54, 0.15) !important;

    p {
      color: rgba(195, 45, 42, 0.7);
      margin-top: 10px;
    }
  }

  &.progress {
    background-color: rgba(255, 203, 27, 0.25) !important;

    p {
      color: rgba(195, 99, 27, 0.51);
    }
  }
}

@media(max-width: 768px) {
  div,
  .ui.table td {
    &.positive {
      background-color: rgba(170, 255, 170, 0.6) !important;

      p {
        color: rgba(45, 135, 46, 0.91);
      }
    }

    &.negative {
      background-color: rgba(255, 216, 214, 0.6) !important;

      p {
        color: rgba(195, 45, 42, 0.7);
        margin-top: 10px;
      }
    }

    &.progress {
      background-color: rgba(254, 228, 141, 0.6) !important;

      p {
        color: rgb(195, 144, 27);
      }
    }
  }
}
