// Palette used: http://paletton.com/#uid=52P0u0kw0o0n4v3uwucCwj-Ltee

$green: #4CCA47;
$green-light: #DAECD4;
$green-dark: #096905;
$green-mid: #0a7706;

$orange: #F7941D;
$orange-dark: #B76A10;
$orange-light: #FFC899;
$orange-alpha: rgba(255, 133, 27, 0.8);

$pink: #e10f85;
$pink-light: #e993c4;
$pink-dark: #b10064;

$violet: #6435C9;
$violet-light: #9d85d1;
$violet-lighter: #cab4f3;
$violet-dark: #5829bb;

$blue: #327B9E;
$blue-dark: #156D98;
$blue-light: #5596B5;
$blue-lighter: #7fb7d1;
$blue-light-alpha: rgba(85, 150, 181, 0.45);

$gray: #444;
$gray-light: #676767;
$gray-lighter: #888;

$white-dark: #E8E8E8;

$link-on-dark: #A1CDE2;

// benavern/z-switch (https://github.com/benavern/z-switch)

// default colors
$z-switch-off    : #FF6059;
$z-switch-on     : #2ACB41;
$z-switch-slider : #FEFEFE;
$z-switch-text   : #FEFEFE;

// color1 alternative
$z-switch-color1-off    : #CCCCCC;
$z-switch-color1-on     : #03A9F4;
$z-switch-color1-slider : #F4F4F4;

// color2 alternative
$z-switch-color2-off    : #454846;
$z-switch-color2-on     : #454846;
$z-switch-color2-slider : #B4B6B5;