{%- assign page_total = 0 -%}
{%- assign page_total_bch = 0 -%}

<div id="maingrid" class="ui container {{ page.id }}" role="main">
	<div class="container-inner ui stackable grid">
		<div class="five column row">
	{%- assign rowcount = 0 -%}
	{%- assign page_sections = site.data.sections | where: "page", page.page_name -%}
	{% for section in page_sections %}
		{%- assign current_section = site.data[section.id] -%}
		{%- assign rowend = forloop.index | modulo: 5 -%}
		{%- assign count_bch = 0 -%}
		{%- for website in current_section.websites -%}
			{%- assign page_total = page_total | plus: '1' -%}
			{%- if website.bch -%}
				{%- assign count_bch = count_bch | plus: '1' -%}
			{%- endif -%}
		{%- endfor -%}
        {%- assign page_total_bch = page_total_bch | plus: count_bch -%}
			<div id="{{ section.id }}" class="category column{% if count_bch == 0 %} bch-only-hidden{% endif %}">
				<h5 class="ui icon header">
					<i class="circular {{ section.icon }} icon"></i>
					<small>{{ section.title }}</small>
				</h5>
			</div>
			{% include mobile-table.html id-param=section.id title-param=section.title %}
		{%- if rowend == 0 or forloop.index == forloop.length -%}
			{%- assign offcount = 5 | times: rowcount -%}
			{% for section in page_sections limit: 5 offset: offcount %}
				{% include desktop-table.html id-param=section.id title-param=section.title %}
			{%- endfor -%}
			</div>
			{%- if forloop.index != forloop.length -%}
				{%- assign rowcount = rowcount | plus: '1' -%}
				<div class="five column row">
			{%- endif -%}
		{%- endif -%}
	{%- endfor -%}
		</div>
	</div>
	<div id="no-results">
		<h2>No results found.</h2>
	</div>

{% include segment/progress-bar.html value=page_total_bch total=page_total page=page.page_name %}