<div class="ui container nav" role="navigation">
	<div class="four ui buttons">
		<a href="/?skipToListings" class="ui blue button{% if page.page_name == "home" %} active-nav {% endif %}" data-tooltip="Merchants accepting Bitcoin Cash" data-position="top center" data-inverted="">Main</a>
		<a href="/donations/?skipToListings" class="ui violet button{% if page.page_name == "donations" %} active-nav {% endif %}" data-tooltip="Organizations accepting Bitcoin Cash donations" data-position="top center" data-inverted="">Donations</a>
		<a href="/adult/?skipToListings" class="ui pink button{% if page.page_name == "adult" %} active-nav {% endif %}" data-tooltip="Warning! Links to sexually oriented material ahead!" data-position="top center" data-inverted="">Adult</a>
		<a href="/adoption/?skipToListings" class="ui green button{% if page.page_name == "adoption" %} active-nav {% endif %}" data-tooltip="Check out how the initiative is progressing" data-position="top center" data-inverted="">Adoption</a>
	</div>
</div>