<div class="ui center aligned segment twitter-panel">
	<a class="twitter-timeline" data-dnt="true" data-theme="light" data-width="705" href="https://twitter.com/search?q=usebitcoin.cash" data-widget-id="939960678953218048">Tweets about usebitcoin.cash</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	<br><br>
	<a href="https://twitter.com/useBitcoinCash?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="false">Follow @useBitcoinCash</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>