<div class="ui center aligned segment twitter-panel">
	<a class="twitter-timeline" data-dnt="true" data-theme="light" data-width="705" href="https://twitter.com/search?q=usebitcoin.cash" data-widget-id="939960678953218048">Tweets about usebitcoin.cash</a>
	<script>
	var fired = false;
	window.addEventListener("scroll", function(){
    if ((document.documentElement.scrollTop != 0 && fired === false) || (document.body.scrollTop != 0 && fired === false)) {
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";js.async = 1;fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        fired = true;
    }
}, true);
</script>
	<br><br>
	<a href="https://twitter.com/useBitcoinCash?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="false">Follow @useBitcoinCash</a>
</div>
