@mixin transition($element, $type, $time) {
  -webkit-transition: $element $time $type;
  -moz-transition: $element $time $type;
  -ms-transition: $element $time $type;
  -o-transition: $element $time $type;
  transition: $element $time $type;
}

@mixin box-sizing($type) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin display-flex() {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
  -ms-flex-direction: $direction;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes attention {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes searchLogo {
  0% {
    height: 24px;
    right: 4px;
    top: 0;
    box-shadow: -1px 2px 1px rgba(0,0,0,0.3);
    transform: rotate(-10deg);
  }

  100% {
    height: 32px;
    right: 6px;
    top: -3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.45);
    transform: rotate(0deg);
  }
}

@keyframes searchLogoReverse {
  0% {
    height: 32px;
    right: 6px;
    top: -3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.45);
    transform: rotate(0deg);
  }

  100% {
    height: 24px;
    right: 4px;
    top: 0;
    box-shadow: -1px 2px 1px rgba(0,0,0,0.3);
    transform: rotate(-10deg);
  }
}
