@import 'mixins';
@import 'colors';

div,
.ui.table td {
  &.positive {
    background-color: rgba(46, 204, 64, 0.15) !important;

    p {
      color: rgba(45, 135, 46, 0.91);
    }
  }

  &.negative {
    background-color: rgba(255, 65, 54, 0.15) !important;

    p {
      color: rgba(195, 45, 42, 0.7);
      margin-top: 10px;
    }
  }

  &.progress {
    background-color: rgba(255, 203, 27, 0.25) !important;

    p {
      color: rgba(195, 99, 27, 0.51);
    }
  }
}

@media(max-width: 768px) {
  div,
  .ui.table td {
    &.positive {
      background-color: rgba(170, 255, 170, 0.6) !important;

      p {
        color: rgba(45, 135, 46, 0.91);
      }
    }

    &.negative {
      background-color: rgba(255, 216, 214, 0.6) !important;

      p {
        color: rgba(195, 45, 42, 0.7);
        margin-top: 10px;
      }
    }

    &.progress {
      background-color: rgba(254, 228, 141, 0.6) !important;

      p {
        color: rgb(195, 144, 27);
      }
    }
  }
}

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
  margin: 0;
  padding: 0;
}

html, body {
  @include box-sizing(border-box);
  height: auto;
  font-size: 18px;
}

*, *:before, *:after {
  @include box-sizing(inherit);
  text-shadow: none;
}

img {
  border: none;
}

a {
  color: $blue;
  text-decoration: none;
  @include transition(all, ease, 300ms);

  &:hover {
    color: $orange;
  }
}

body {
  font-family: Ubuntu, Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #505050;
  line-height: 22px;
  background: url(/img/pcb-subtle-green.png) repeat;
}

h1, h2, h3, h4, h5, .ui.header {
  font-family: Ubuntu, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  margin: 1em 0;
}

[data-tooltip]:after {
  font-size: 0.8rem;
}

.no-bch {
  transition: 1s all ease-in-out;
}

.filter-no-results {
  display: none;
}

.coin-wrap {
  display: inline-block;

  img {
    height: 40px;
    width: auto;
  }
}

.orange-coin-wrap {
  color: $orange;

  .btc-b {
    position: absolute;
    top: 22%;
    left: 25%;
    width: 20px;
    height: 20px;
    background: #fff;
    z-index: 0;
  }

  i.bitcoin.icon {
    position: relative;
  }
}

.btc-mobile-icon {
  position: relative;
  top: -15px;
}

.fab {
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
  z-index: 10000;

  .ui.button {
    position: relative;
    background: $orange !important;
    box-shadow: 2px 5px 20px rgba(0,0,0,0.4);

    i {
      position: absolute;
      top: 7px;
      left: 7px;
      font-size: 32px;
      font-weight: bold;
      line-height: 1.1;
      color: #fff;
    }

    &:nth-child(2), &:nth-child(3) {
      background-color: $blue-dark !important;
      position: absolute;
      top: -64px;
      left: 0;

      i {
        font-size: 20px;
        font-weight: normal;
        line-height: 1.2;
        left: 14px;
      }
    }

    &:nth-child(2) {
      background-color: $green-mid !important;

      i {
        line-height: 1.7;
      }
    }

    &:nth-child(3) {
      display: none;
      //      background-color: $green-light !important;
      top: -128px;
      left: 0;

      i {
//        color: $green-dark;
        font-size: 26px;
        top: 9px;
        left: 11px;
        line-height: 1.2;
      }
    }
  }
}

.attention {
  animation: 420ms attention;
  animation-iteration-count: 3;
}

.website-table .left,
.website-table .right {
  display: inline-block;
  height: 100%;
  line-height: 2em;
}

.website-table a.name {
  font-size: 22px;
  font-weight: 300;
  color: $blue-dark;

  &:hover {
    color: $orange-dark;
  }
}

.website-table .left {
  width: 60%;


  p {
    margin-top: 10px;
  }
}

.website-table .right {
  float: right;
  padding-left: 30px;
  width: 40%;
}

.ui.inverted.teal.menu {
  border-radius: 0;
}

#top-header {
  background: rgba(0,0,0,0.8);
  margin: 0 0 40px;
  padding: 30px 20px 40px;

  &.adult-listings {
    background: rgba(57, 0, 59, 0.8);
  }

  &.donation-listings {
    background: rgba(30, 0, 74, 0.8);
  }
  
  button a {
    color: #eee;

    &:hover {
      color: #fff;
    }
  }

  a {
    color: $link-on-dark;

    &:hover {
      color: $orange;
    }
	
	&.button {
      color: #eee;

      &:hover {
        color: #fff;
      }
    }
  }

  h2 {
    color: #fff;
    font-weight: 500;
    padding: 10px 0;
  }

  .title-wrap {
    display: inline-block;
    width: 745px;
    margin-top: 40px;

    h1 {
      padding: 0;
      color: #fff;
      font-size: 57px;
      font-style: italic;
      font-weight: normal;
      line-height: 1.25;
      text-align: left;

      i {
        display: inline;
        font-size: 0.7rem;
        padding-left: 5px;
        cursor: help;
      }

      span {
        font-weight: bold;
        font-style: normal;

        &.logoseg-2 {
          color: $orange;
        }
      }
    }

    .inner-title {
      padding-bottom: 15px;
      clear: both;

      i.btc.icon {
        padding: 15px 0 0;
        transform: rotate(-14deg);
        font-size: 32px;
        color: rgba(255,255,255,0.15);
      }

      .sub.header {
        margin: 0 auto;
        padding: 15px 0;
        max-width: 90%;

        p {
          &.or-choice {
            font-weight: bold;
            font-style: italic;
          }

          span {
            font-style: italic;
            font-size: 0.85em;
          }
        }

        &.browse-all, &.how-to-contrib {
          .ui.blue.button {
            background-color: $blue;

            &:hover {
              background-color: $blue-dark;
            }
          }

          i {
            display: inline;
            font-size: 1em;
          }
        }

        &.how-to-contrib {
          padding-top: 0;
          margin-top: 0;

          p:last-child {
            line-height: 1.4;

            span {
              display: block;
              margin-top: 10px;
            }
          }
        }

        &:first-of-type {
          padding-top: 20px;
        }
      }
    }
  }

  .title-footer {
    padding: 10px 0;
    background: $blue;
    border-radius: 10px;
    font-size: 1rem;
    font-style: italic;
    font-weight: 500;

    a {
      color: #fff;
      margin: 0;
      padding: 0 3rem;
      display: inline-block;
      //width: 38%;
      text-align: center;
      cursor: pointer;

      &:hover {
        color: $orange;
      }

      &:first-child {
       // border-right: 1px solid #fff;
      }

      i {
        display: inline;
        font-size: 1.1rem;
        margin-right: 3px;
      }
    }
  }

  .bch-only {
    padding: 10px;
    transition: 1s all ease-in-out;

    #search-wrapper {
      margin: 0 auto;
      position: relative;
      //overflow: auto;
      text-align: center;
      color: $orange;
      transition: 1s all ease-in-out;

      .search-input-wrapper {
        position: relative;
        display: inline-block;
      }

      label:not(.z-switch) {
        position: relative;
        display: block;

        input[type=search] {
          display: block;
          width: 560px;
          padding: 10px 10px 10px 45px;
          margin: 0 auto;
          background: #eee;
          color: $blue;
          font-weight: 300;
          border: 3px $orange solid;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 10px;
          //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
          opacity: 1;
          @include transition(all, ease, 300ms);

          &:focus {
            border-color: $orange;
            box-shadow: 0 0 10px $orange;
            outline: none;
            font-weight: 500;
          }

          &::placeholder {
            color: $gray;
          }
        }
      }

      button#search-clear {
        display: none;
        position: absolute;
        top: 14px;
        right: 10px;
        height: 28px;
        overflow: hidden;
        line-height: 1;
        background: transparent;
        border: none;
        cursor: pointer;

        &:focus {
          outline-style: dotted;
          outline-width: 1px;
          outline-color: #faa;
        }

        i {
          color: #900;
          display: inline-block;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          z-index: 1;
        }
      }

      i.icon.search {
        position: absolute;
        left: 14px;
        top: 14px;
        color: $blue-light;
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        opacity: 1;
        animation: 1s fadein;
        animation-fill-mode: forwards;
        z-index: 1;
      }

      .z-switch {
        position: relative;
        white-space: nowrap;
        line-height: 2.3;

        .z-switch--container {
          margin-right: 5px;
        }
      }
    }

    &.fixed.top {
      z-index: 10000;
      background: $gray;
      color: $orange;
      border: 2px solid #327B9E;
      border-top: 0;
      border-radius: 0 0 10px 10px;
      box-shadow: 0 0px 64px rgba(50, 123, 158, 0.888);

      #search-wrapper {
        text-align: left;
        line-height: 1;

        .search-input-wrapper {
          float: left;
        }

        label {
          float: left;

          input[type=search] {
            display: block;
            float: left;
            width: 410px;
            margin-right: 20px;
            border-color: transparent;
            color: $blue;

            &:focus {
              border: 3px $orange solid;
              //box-shadow: 0 0 10px $blue-light;
            }
          }
        }

        i.icon.search {
          left: 16px;
        }

        button#search-clear {
          display: none;
          position: absolute;
          right: 25px;
        }

        .z-switch {
          float: none;
          white-space: normal;
          line-height: 1;
          font-size: 1rem;
        }

        span {
          display: inline;
        }
      }
    }
  }
}

.bch-only-hidden {
  opacity: 0.4;
}

.google-form {
  height: 80vh;
}

#no-results {
  display: none;
  margin: 10px 0 128px;
  padding: 20px 0;
  text-align: center;
  color: #fff;
  background: #830000c9;
  border: 3px solid #f00;
  border-width: 3px 0;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.93);
  z-index: 10001;

  a {
    color: $blue-light;

    &:hover {
      color: $orange;
    }
  }
}

.ui.header {
  color: inherit;

  .sub.header {
    color: #fff;
  }
}

.ui.container {
  background: $blue-light-alpha;
  border: 3px solid $blue-lighter;
  border-radius: 7px;
  padding: 70px 20px 40px;
  margin-top: 4rem;

  &.nav {
    background: none;
    border: 0;
    margin-bottom: -5.2rem;
    padding: 0;

    div.buttons {
      padding: 0 1rem;

      a.ui.button {
        padding: 0.7rem 1.5rem;
        font-weight: normal;
        font-size: 1.2rem;

        &.active-nav {
          font-weight: bold;
          padding-bottom: 0.4rem;
          //border-bottom: 7px solid rgba(0,0,0,0.2);
          border-bottom: 7px solid rgba(240, 240, 240, 0.3);
        }

        &.blue {
          background-color: $blue;

          &:hover {
            background-color: $blue-dark;
          }
        }
      }
    }
  }

  &.home {
    background: $blue-light-alpha !important;
  }

  &.donation-listings {
    border-color: $violet-light;
    background: rgba(134, 85, 181, 0.45) !important;
  }

  &.adult-listings {
    border-color: $pink-light;
    background: rgba(181, 85, 165, 0.45) !important;
  }

  &.adoption {
    border-color: $green;
    background:rgba(85, 181, 128, 0.32) !important;
    padding-bottom: 0;
  }
}

.ui.grid > .row {
  padding: 0;
}

.ui.button {
  font-family: Ubuntu, Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3;
}

.ui.inverted.blue.button:hover, .ui.inverted.blue.buttons .button:hover {
  background: $blue;
}

.desktop-table {
  padding: 18px 0;
}

.category {
  cursor: pointer;
  padding-top: 20px;
  text-align: center;

  h5.ui.icon.header {
    color: inherit;
    margin-bottom: 1.5rem;

    i.circular.icon {
      @include transition(all, ease, 300ms);
      background: #fff;
      box-shadow: 0 0 0 3px $green-light inset;
      border-radius: 10px !important;
      border-color: $orange-light;
      margin-bottom: 0.8rem;
    }

    small {
      @include transition(all, ease, 300ms);
      display: inline-block;
      background: #fff;
      border: 3px solid $green-light;
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 1rem;
    }

    &:hover i.circular.icon, &:hover i.circular.icon + small {
      background-color: $orange-light;
      border-color: $orange;
      color: $orange-dark;
    }

    &:hover i.circular.icon {
      box-shadow: 0 0 0 3px $orange inset;
    }

    &.active-icon {
      i.circular.icon {
        background-color: $orange;
        color: white;
        box-shadow: 0 0 0 3px $orange-dark inset;

        & + small {
          border: 3px solid $orange-dark;
          background-color: $orange;
          color: white;
        }
      }
    }
  }
}

.ui.table.content-wrapper {
  background: #fff;
  border-radius: 0 !important;
  border: 3px solid $blue-lighter;
  border-width: 3px 0;
  //box-shadow: 2px 5px 20px rgba(80, 80, 80, 0.2), -2px -1px 20px rgba(80, 80, 80, 0.2);
}

.ui.table thead th {
  color: $blue;
}

.ui.table thead th:first-child {
  background: #327c9e;
  background: -moz-linear-gradient(left, $blue 0%, $blue 58%, #f9fafb 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, $blue), color-stop(58%, $blue), color-stop(100%, #f9fafb));
  background: -webkit-linear-gradient(left, $blue 0%, $blue 58%, #f9fafb 100%);
  background: -o-linear-gradient(left, $blue 0%, $blue 58%, #f9fafb 100%);
  background: -ms-linear-gradient(left, $blue 0%, $blue 58%, #f9fafb 100%);
  background: linear-gradient(to right, $blue 0%, $blue 58%, #f9fafb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$blue', endColorstr='#f9fafb', GradientType=1 );
  border-radius: 0 !important;
  font-size: 1.2rem;
  color: #f9fafb;
}

.ui.table thead th:not(:first-child) {
  text-align: center;
}

.ui.table td.positive, .ui.table tr.positive {
  color: $green !important;
}

.ui.table tr td.docs a {
  color: $blue !important;

  &:hover {
    color: $orange !important;
  }
}

.ui.table td.twitter {
  text-align: center;
}


.donation-listings {
  .category h5.ui.icon.header {
    i.circular.icon {
      box-shadow: 0 0 0 3px $violet-light inset;
      border-color: $violet-light;

      & + small {
        border: 3px solid $violet-light;
        //box-shadow: 0 0 0 3px $orange-dark inset;
      }
    }

    &:hover i.circular.icon, &:hover i.circular.icon + small {
      background-color: $violet-lighter;
      border-color: $violet;
      color: $violet-dark;
    }

    &:hover i.circular.icon {
      box-shadow: 0 0 0 3px $violet inset;
    }

    &.active-icon {
      i.circular.icon {
        box-shadow: 0 0 0 3px $violet-light inset;
        background-color: $violet;
        border-color: $violet-light;
        color: white;

        & + small {
          border: 3px solid $violet-light;
          background-color: $violet;
          color: white;
        }
      }
    }
  }

  .ui.table.content-wrapper {
    border-color: $violet-light;
  }

  .ui.table thead th {
    color: $violet-dark;

    &:first-child {
      color: white;
      background: $violet-dark;
      background: -moz-linear-gradient(left, $violet-dark 0%, $violet-dark 58%, #f9fafb 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, $violet-dark), color-stop(58%, $violet-dark), color-stop(100%, #f9fafb));
      background: -webkit-linear-gradient(left, $violet-dark 0%, $violet-dark 58%, #f9fafb 100%);
      background: -o-linear-gradient(left, $violet-dark 0%, $violet-dark 58%, #f9fafb 100%);
      background: -ms-linear-gradient(left, $violet-dark 0%, $violet-dark 58%, #f9fafb 100%);
      background: linear-gradient(to right, $violet-dark 0%, $violet-dark 58%, #f9fafb 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$violet-dark', endColorstr='#f9fafb', GradientType=1 );
    }
  }
}

.adult-listings {
  .category h5.ui.icon.header {
    i.circular.icon {
      box-shadow: 0 0 0 3px $pink-light inset;
      border-color: $pink-light;

      & + small {
        border: 3px solid $pink-light;
        //box-shadow: 0 0 0 3px $orange-dark inset;
      }
    }

    &:hover i.circular.icon, &:hover i.circular.icon + small {
      background-color: $pink-light;
      border-color: $pink;
      color: $pink-dark;
    }

    &:hover i.circular.icon {
      box-shadow: 0 0 0 3px $pink inset;
    }

    &.active-icon {
      i.circular.icon {
        box-shadow: 0 0 0 3px $pink-light inset;
        background-color: $pink;
        border-color: $pink-light;
        color: white;

        & + small {
          border: 3px solid $pink-light;
          background-color: $pink;
          color: white;
        }
      }
    }
  }

  .ui.table.content-wrapper {
    border-color: $pink-light;
  }

  .ui.table thead th {
    color: $pink-dark;

    &:first-child {
      color: white;
      background: $pink-dark;
      background: -moz-linear-gradient(left, $pink-dark 0%, $pink-dark 58%, #f9fafb 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, $pink-dark), color-stop(58%, $pink-dark), color-stop(100%, #f9fafb));
      background: -webkit-linear-gradient(left, $pink-dark 0%, $pink-dark 58%, #f9fafb 100%);
      background: -o-linear-gradient(left, $pink-dark 0%, $pink-dark 58%, #f9fafb 100%);
      background: -ms-linear-gradient(left, $pink-dark 0%, $pink-dark 58%, #f9fafb 100%);
      background: linear-gradient(to right, $pink-dark 0%, $pink-dark 58%, #f9fafb 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pink-dark', endColorstr='#f9fafb', GradientType=1 );
    }
  }
}

.bch-only-none-found {
  display: none;
}

.website-table {
  margin: auto -2px;
  position: relative;
  width: 100vw;
  z-index: 1000;
}

.mobile-table {
  display: none;

  .label {
    display: none;
    padding: 15px 0;
    text-align: center;
  }

  .bch-merchant-content {
    margin: 0 auto 40px auto;

    > div {
      box-shadow: 0 0 0 3px rgb(190, 230, 177) inset;
      border-radius: 10px !important;
      padding: 0.5em;
      margin: 0.8rem 0;
      text-align: center;

      &.negative {
        box-shadow: 0 0 0 3px rgb(228, 196, 196) inset;
      }

      &.progress {
        box-shadow: 0 0 0 3px rgb(228, 216, 131) inset;
      }
    }

    .main {
      .title {
        @include display-flex();
        @include flex-direction(row);
        -ms-flex-align: center;
        align-items: center;

        .name {
          -webkit-box-flex: 2;
          -ms-flex-positive: 2;
          flex-grow: 2;
          text-align: left;
          font-weight: 300;
        }
      }

      .mobile-logo {
        display: inline-block;
        margin: 0 0.4rem;
      }

      .button-group {
        @include display-flex();
        @include flex-direction(row);
        justify-content: space-between;
        margin-top: 0.8rem;
      }
    }

    .button {
      padding: 0.4em 0 0.2em;
      width: 100%;

      i {
        margin: 0 !important;
      }

      i.book.icon {
        margin-bottom: 2px;
        vertical-align: bottom;
        height: auto !important;
      }
    }

    p {
      margin: 0.5rem 0 0.2rem;
      font-weight: 700;
      font-size: 0.9rem;
      text-align: center;
    }
  }
}

.bch-only-none-found {
  color: $gray-lighter;

  h3, h4 {
    margin-top: 1rem;
  }

  p {
    margin: 0;
    color: $gray-light;

    span {
      color: $blue;
      font-weight: bold;
      cursor: pointer;
      @include transition(all, ease, 420ms);

      &:hover {
        color: $orange;
      }
    }

    &:last-child {
      margin-bottom: 1rem;
    }
  }
}

.bch-only-none-found-mobile {
  background: rgba(255,255,255,0.65);
  text-align: center;
  padding: 1rem;
  border-radius: 10px;

  h4, p {
    padding: 0.7rem !important;
    margin: 0 !important;
  }

  p:last-child {
    padding-top: 0 !important;
  }

  span {
    color: $blue;
    font-weight: bold;
    cursor: pointer;
    @include transition(all, ease, 420ms);

    &:hover {
      color: $orange;
    }
  }
}

.ui.table td {
  padding: 0.5em;

  &.main {
    line-height: 2em;

    .title {
      @include display-flex();
      @include flex-direction(row);
      -ms-flex-align: center;
      align-items: center;

      .name {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex: 1;
        padding-left: 0;
        margin-bottom: 0;
        font-size: 1.1rem;
        line-height: 1.3;
      }
    }

    .progress-info {
      @include display-flex();
      -webkit-justify-content: center;
      justify-content: center;

      a {
        width: 145px;
        min-width: 145px;
        padding-left: 0;
      }
    }
  }

  &.icon {
    text-align: center;
    width: 10%;
  }

}

.ui.mini.button {
  padding: 0.4em 1.4em !important;

  i {
    margin: 0 0 0.2rem !important;
  }
}

td img.icon,
.title img {
  -webkit-box-shadow: 0 0 0 .1em rgba(0, 0, 0, .1) inset;
  box-shadow: 0 0 0 .1em rgba(0, 0, 0, .1) inset;
  background-color: white;
  border-radius: 50%;
  float: left;
  padding: 4px 4px;
  height: 2em;
  width: 2em;
  line-height: 1;
  margin-right: 0.8em;
}

.ui.celled.table tr td.main a,
.ui.celled.table .exception,
.ui.celled.table .exception * {
  padding-left: 3%;
  margin-bottom: 5px;
  vertical-align: top;

  &.social-name {
    margin: 0;
    padding: 0;
  }
}

.ui.mini.button {
  margin: 0.2em;
}

span.progress {
  padding-left: 10%;
}

.ui.progress.bch-progress {
//  background: rgba(0,0,0,0.45) !important;
  padding: 0;
  margin: 1rem auto 7rem !important;

  .bar {
    background: $green;

    .progress {
      background: none !important;
      color: #fff;
      font-size: 1.2rem;
      text-shadow: 1px 1px 0px rgba(0,0,0,0.4);
    }

    &.blue {
      background: $blue;
    }

    &.purple {
      background: $violet;
    }

    &.pink {
      background: $pink;
    }
  }

  .label {
    margin-top: 1rem;
    color: $gray;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    cursor: help;
  }

  margin: 1rem auto 0.5rem !important;

  + p {
    margin: 0 1rem 2rem !important;
    font-size: 1.2rem;
    text-align: center;
  }
}

[data-position="bottom center"][data-tooltip]:after {
  letter-spacing: 0 !important;
}

.ui.subfooter {
  background: rgba(0,0,0,0.88);
  color: #f0f0f0;
  margin: 0;
  padding: 5rem 0 3rem;
  border-radius: 0;

  .inner {
    width: 80%;
    margin: 0 auto 2.5em;

    h3 {
      font-weight: 300;
      letter-spacing: -1px;
      font-size: 1.5rem;
      margin-bottom: 1em;
    }

    p {
      text-align: left;

      &.satoshi-tag {
        margin-bottom: 4em;
        color: #656565;
        font-weight: 500;
        font-size: 0.7rem;
        font-style: italic;
        text-align: center;
      }
    }

    a {
      color: #aaa;

      &:hover {
        color: #fff;
      }
    }

    .ui.buttons .or {
      top: 10px;

      &:before {
        line-height: 1.6;
      }
    }
  }
}

.ui.segment.more-info {
  border-top: 10px solid $green-light;
  border-bottom: 10px solid $gray;
}

.ui.segment.twitter-panel {
  background: url(/img/twitter-logo-alpha-large.png) no-repeat bottom right #fff;
  background-size: contain;
  padding: 2rem 0;
  margin-bottom: 5rem;
}

.ticker {
  margin: 0;
  padding: 0;
  border-bottom: 10px solid $orange-light;
  border-radius: 0;

  #ticker_value {
    padding: 1rem 0;
    background: $orange-alpha;
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin: 1rem 2rem;
      font-weight: bold;
      color: $gray;

      &:first-child {
        margin-top: 2rem;
      }

      &:last-child {
        margin-bottom: 2rem;
      }

      span.curr-symbol {
        font-size: 1.8rem;
        font-weight: normal;
        margin: 0 0.2rem;
      }

      span.curr-price {
        display: block;
        margin-top: 0.8rem;
        font-size: 2rem;
        font-weight: 300;
        letter-spacing: -2px;
      }
    }
  }
}

.ama-merchant {
  h3 {
    margin-bottom: 1rem;
    font-weight: normal;
    text-align: center;

    big {
      font-weight: bold;
    }
  }
  h4 {
    margin-bottom: 2rem;
  }
}

/*
#ama-customer {
  background-color: #007373;
}
*/


.asset-panel {
  background: #fff;
  background-image: linear-gradient(45deg, #e8e8e8 25%, transparent 25%), linear-gradient(-45deg, #e8e8e8 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #e8e8e8 75%), linear-gradient(-45deg, transparent 75%, #e8e8e8 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  text-align: center;
  padding: 2rem 0;
  border-bottom: 10px solid $white-dark;

  p {
    width: 62%;
    margin: 0 auto;
    padding: 2rem 0 0;
    font-size: 1.2rem;
  }

  > a {
    display: inline-block;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -1px;
    cursor: pointer;

    i {
      font-size: 2.2rem;
    }
  }
}

.assets {
  img:not(.p-logo) {
    position: relative;
    display: inline-block;
    background: url(/img/alpha-image-bg.gif) repeat #f0f0f0;
    padding: 1rem;
    max-height: 100px;
    max-width: 100%;
    width: auto;
    @include transition(all, ease, 420ms);

    &:hover {
      background: $orange-light;
      box-shadow: 0 0 20px rgba(0,0,0,0.3);
      -moz-transform: translateX(-2px) translateY(-2px);
      -webkit-transform: translateX(-2px) translateY(-2px);
      -o-transform: translateX(-2px) translateY(-2px);
      -ms-transform: translateX(-2px) translateY(-2px);
      transform: translateX(-2px) translateY(-2px);
    }
  }
}

.about-this-site .ui.header > img {
  width: 128px;
  margin-bottom: 1rem;
}

.p-logo {
  height: 20px;
  width: auto;
  vertical-align: text-top;
}

.ui.list.artwork-list {
  >.item a.header, >.item a.header {
    //color: $link-color !important;

    &:hover {
      color: $orange !important;
    }
  }
}

.ui.footer {
  background: rgba(255,255,255,0.7);
  margin: 0;
  border-bottom: 10px solid $green-light;
  border-radius: 0;
  padding: 1.4rem 2rem 1rem;

  p {
    margin: 0;
    line-height: 1.8;

    &.stats {
      margin-top: 1rem;
      line-height: 1;
    }

    &.version {
      font-size: 0.88rem;
      color: $gray-lighter;
    }
  }

  &.top {
    background: rgba(50, 123, 158, 0.8);
    padding: .5rem 0;
    border-bottom: 10px solid #63b0d5;
    color: $white-dark;

    a {
      color: #fff;
      font-weight: bold;

      &:hover {
        color: $link-on-dark;
      }

      i {
        font-weight: normal;
      }
    }
  }
}

#show-disclaimer {
  cursor: pointer;
}

.disclaimer {
  p {
    font-size: 1.067rem;
  }
}

.remember-this {
  color: #8aff8a;
  font-weight: bold;
}

.super-important {
  color: #ea7878;
  font-weight: bold;
}

//
// Mobile breakpoint
//

@media(max-width: 767px) {

  .fab {
    right: -12px;
  }

  .desktop-table {
    display: none;
  }

  .ui.container {
    margin: 40px 0 0 !important;
    padding: 40px 20px;
    border-width: 3px 0;
    border-radius: 0;
  }

  #top-header {
    padding: 0;

    .title-wrap {
      width: 100%;
      border-width: 3px 0;
      border-radius: 0;

      h1 {
        border-radius: 0;
        padding: 0 20px;
        font-size: 2em;
      }

      .inner-title {
        padding: 15px 0;
      }

      #search-wrapper {
        label {
          left: 3.3%;
        }
        input[type=search] {
          padding: 10px;
        }
      }

      h2 {
        border-radius: 0;
      }

      .title-footer {
        border-radius: 0;

        a {
          margin: 1rem 0;
          display: block;
          border-radius: 0;
          width: 100%;
          padding: 0.25rem 0 0;

          &:first-child {
            border-bottom: 1px solid $gray;
            padding: 0 0 1rem;
          }
        }
      }
    }

    .bch-only {
      padding: 0;

      #search-wrapper {
        border: 0;
        padding: 11px 0;

        label:not(.z-switch) {
          margin-bottom: 10px;
          position: initial;

          input[type=search] {
            width: 90%;
            padding: 10px 10px 10px 40px;
          }
        }

        i.icon.search {
          top: 14px;
          left: 32px;
        }

        button#search-clear {
          top: 14px;
          right: 24px;
        }

        .z-switch {
          float: none;
          position: initial;
          white-space: normal;
          line-height: 1;

          .z-switch--container {
            display: block;
            margin: 0 auto 10px;
          }
        }
      }

      &.fixed.top {
        padding: 0 11px;
        border-width: 0 0 2px;
        border-radius: 0;
        box-shadow: 0 0px 32px rgba(50, 123, 158, 0.888);

        #search-wrapper {
          .search-input-wrapper {
            display: block;
            float: none;
          }

          label:not(.z-switch) {
            text-align: center;
            font-size: 1rem;

            input[type=search] {
              width: 100%;
              margin: 0 0 8px;
            }

            &:not(.z-switch) {
              float: none;
            }
          }

          i.icon.search {
            top: 11px;
            left: 11px;
          }

          button#search-clear {
            top: 11px;
            right: 6px;
          }

          .z-switch {
            white-space: normal;
            line-height: 1;
            font-size: 0.9rem;

            .z-switch--container {
              float: left;
              margin: 3px 10px 0 0;
            }
          }
        }
      }
    }
  }

  .mobile-table {
    display: block;
    width: 95vw;
  }

  .category {
    h5.ui.icon.header {
      width: 100%;
      text-align: left;
      margin: 0;

      i.circular.icon {
        display: inline-block;
        margin: 0;
        padding: 0.35em !important;
        width: 1.7em !important;
        height: 1.7em !important;
      }

      small {
        position: relative;
        top: 3px;
        padding: 16px 10px;
        font-size: 1.2rem;
      }
    }
  }

  .asset-intro {
    float: none;
    width: 98%;
    margin: 0 1%;
    padding: 0 0.9rem;
  }

  .ui.modal .content>.description {
    padding: 0 !important;
  }

  .ui.grid.container {
    border-width: 3px 0;
  }

  .ui.three.buttons, .ui.four.buttons {
    flex-direction: column;

    > .button {
      width: 100%;
      padding: 1rem 0 !important;
      border-radius: 0 !important;

      &.active-nav {
        padding-bottom: 0.7rem !important;
      }
    }
  }

  .ui.list .list>.item>.icon+.content, .ui.list .list>.item>.image+.content, .ui.list>.item>.icon+.content, .ui.list>.item>.image+.content {
    padding: 0.65rem 0;
  }

  .ui.list.artwork-list {
    float: none;
    width: 100%;
    margin-top: 2rem;
  }

  .ui.progress.bch-progress {
    margin: 1rem 1rem 5rem !important;

    .bar .progress {
      right: 0.15rem;
    }

    .label {
      margin-top: 0.7rem;
      font-size: 1.4rem;
      letter-spacing: -1px;
      line-height: 1.2;
    }
  }

  .ticker {
    #ticker_value {
      li {
        display: block;
        margin: 2rem;

        &:first-child {
          margin-top: 0;
          padding-top: 2rem;
        }

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 2rem;
        }
      }
    }
  }

  .ui.subfooter {
    padding: 2em 0 0;

    .inner {
      .ui.huge.button, .ui.huge.buttons .button, .ui.huge.buttons .or {
        font-size: 1rem;
      }

      .ui.buttons .or {
         top: 0;
      }
    }
  }

  .asset-panel {
    padding-bottom: 1rem;

    p {
      margin-bottom: 1rem;
    }

    > a {
      padding: 1rem;
      font-size: 1.4rem;
      text-align: center;

      i {
        display: block;
        font-size: 3rem;
        margin: 0 auto;
      }
    }
  }

  .assets {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  #top-header .title-wrap .inner-title .sub.header:first-of-type {
    font-size: 1.3rem;
    padding: 65px 55px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .ui.container {
    width: auto;
  }

  .category h5.ui.icon.header small {
    padding: 5px 3px;
    font-size: 0.9rem;
  }
}

@media(max-width: 1024px) {
  .fab .ui.button {
    &::before, &::after {
      display: none;
    }
  }
}


// Imports the entire animated Bitcoin Cash logo styles
@import 'bitcoinsvg';
@import 'abci';
