
// Bitcoin Loading SVG animation By Aya W.
// https://codepen.io/ayalan/pen/JfkFc
//   modified by topolino to include cash bill style and more animations

#bitcoin-logo {
  position: relative;
  width: 320px;
  height: 200px;
  margin: 0 auto;

  .coin-side {
    position: absolute;
    top: 0;
    fill: $orange;

    &.left-side {
      left: 0;
      animation: coinleft 2s ease-in-out;
      animation-fill-mode: forwards;
    }

    &.right-side {
      right: 0;
      animation: coinright 2s ease-in-out;
      animation-fill-mode: forwards;
    }

    &.top-side-left-side {
      left: 0;
      animation: sidescaleoutleft 420ms ease-out;
      animation-fill-mode: forwards;
      animation-delay: 2s;
      opacity: 0;
    }

    &.top-side-left-side-force {
      left: 0;
      animation: sidescaleoutleft 420ms ease-out;
      animation-delay: 1s;
    }

    &.side-right-fix {
      right: 0;
    }

    &.top-side-right-side {
      animation: sidescaleoutright 420ms ease-out;
      animation-fill-mode: forwards;
      animation-delay: 2s;
      opacity: 0;
    }

    &.top-side-right-side-force {
      animation: sidescaleoutright 420ms ease-out;
      animation-delay: 1s;
      opacity: 0;
    }
  }

  #main-coin {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: $orange;
    // Rotating the coin as default because Bitcoin Cash is going up to the moon! ┗(°0°)┛
    transform: rotate(-28deg);
    animation: spincoin 1s ease-in-out;
    animation-fill-mode: forwards;

    .glyph {
      stroke: #BE6907;
      stroke-width: 0;
      stroke-dasharray: 2110;
      stroke-dashoffset: 0;
      stroke-linecap: round;
      fill: #fff;
    }

    .anim-glyph {
      animation: dash 1250ms linear;
      animation-delay: 1s;
    }

    .anim-glyph-force {
      animation: dash 1250ms linear;
    }
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 2110;
    stroke-width: 8;
    stroke-opacity: 1;
  }
  80%{
    stroke-opacity: 1;
  }
  90%{
    stroke-opacity: 0.5;
  }
  100%{
    stroke-dashoffset: 0;
    stroke-width: 8;
    stroke-opacity: 0;
  }
}

@keyframes spincoin {
  100%{
    transform: rotate(332deg);
    background: $orange;
  }
}

@keyframes coinleft {
  0% {
    transform: scale(1.3) rotate(-24deg);
    opacity: 0;
    margin: 40px 0 0 -100px;
  }
  45% {
    opacity: 0;
  }
  100%{
    transform: scale(1) rotate(0deg);
    opacity: 1;
    margin: 0;
  }
}

@keyframes coinright {
  0% {
    transform: scale(1.3) rotate(-24deg);
    opacity: 0;
    margin: -40px -50px 0 0;
  }
  45% {
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
    margin: 0;
  }
}

@keyframes sidescaleoutleft {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(1.7) translateX(-64px);
    opacity: 0;
  }
}

@keyframes sidescaleoutright {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(1.7) translateX(64px);
    opacity: 0;
  }
}
