{% assign name = include.category-param.name %}
{% assign title = include.category-param.title %}
{% assign icon = include.category-param.icon %}
<div class="col {{ include.viewport }}-only category-btn-outer">
  {% if page.noscript %}
  <a class="row {% unless include.viewport == 'mobile' %}box{% endunless %} category-btn" href="#{{ name }}">
  {% else %}
  <button class="row {% unless include.viewport == 'mobile' %}box{% endunless %} category-btn" id="{{ name }}" href="#{{ name }}" aria-controls="{{ name }}-table">
  {% endif %}
    <div class="col"></div>
    <div class="col-12 align-self-center">
      <i class="{{ icon }} category-icon fa-fw mx-auto d-block"></i>
    </div>
    <div class="col-12 align-self-end position-relative overflow-hidden">
      <label class="category-title">{{ title }}</label>
    </div>
  {% if page.noscript %}
  </a>
  {% else %}
  </button>
  {% endif %}
</div>
