{% assign entries = include.entries %}
<div id="{{ include.category.name }}-table" class="{% unless page.noscript %} collapse {% endunless %} category-table desktop-only">
  <a id="{{ include.category.name }}" class="category-href"></a>
  <table class="table table-bordered table-bordered">
    <thead class="sticky-top">
      <tr>
        <th scope="col">{{ include.category.title }}</th>
        <th scope="col" class="icon-cell">Docs</th>
        <th scope="col" class="icon-cell">SMS</th>
        <th scope="col" class="icon-cell">Phone Call</th>
        <th scope="col" class="icon-cell">Email</th>
        <th scope="col" class="icon-cell">Hardware token</th>
        <th scope="col" class="icon-cell">Software token</th>
      </tr>
    </thead>
    <tbody class="searchContainer">
      {% for _website in entries %}
        {% assign name = _website[0] %}
        {% assign website = _website[1] %}
        <tr class="table-{% if website.tfa %}success{% else %}danger{% endif %}">

          <td>
            <div class="searchWords d-none">{{ name }} {{ website.domain }}{% for item in website.tfa %} 2fa:{{ item }}{% endfor %}{% for item in website.custom-hardware %} 2fa:{{item}}{% endfor %}{% for item in website.custom-software %} 2fa:{{item}}{% endfor %} {% for domain in website.additional-domains %} {{ domain }} {% endfor %}</div>
            <div class="row no-gutters">
              <a class="site-name {% if website.notes %}exception-site{% endif %}" href="{% if website.url %}{{ website.url }}{% else %}https://{{ website.domain }}{% endif %}">
              <!-- Image -->
              {% if website.img %}
                {% assign letter = website.img | slice: 0 | downcase | append: "/" %}
                {% assign image = website.img | prepend: letter %}
              {% else %}
                {% assign letter = website.domain | slice: 0 | downcase | append: "/" %}
                {% assign image = website.domain | append: ".svg" | prepend: letter %}
              {% endif %}

              {% if page.noscript %}
              <div class="logo desktop-only" style="background-image: url('/img/{{ image }}');" aria-hidden="true"></div>
              {% else %}
              <img class="logo desktop-only" loading="lazy" src="/img/{{ image }}" alt="">
              {% endif %}
              

              {{ name }}</a>

              {% if website.notes %}
              {% if page.noscript %}
                <i class="fas fa-exclamation-triangle exception col" title="{{ website.notes }}"></i>
              {% else %}
                <i class="fas fa-exclamation-triangle exception col" tabindex="0" data-bs-toggle="popover" data-bs-content="{{ website.notes }}"></i>
              {% endif %}
              {% endif %}
            </div>
          </td>

          {% if website.tfa %}
            {% assign tfa = website.tfa %}

            <td class="icon-cell">
              <div class="row">
              {% if website.documentation %}
                <a href="{{ website.documentation | remove: 'https://2fa.directory' }}" class="col" aria-label="2FA Setup documentation">
                  <i class="fas fa-book"></i>
                </a>
              {% endif %}
              {% if website.recovery %}
                <a href="{{ website.recovery }}" class="col" aria-label="Account recovery documentation">
                  <i class="fas fa-redo"></i>
                </a>
              {% endif %}
              </div>
            </td>

            <td class="icon-cell">
              {% if tfa contains "sms" %}
                <i class="tfa-icon fas fa-check"></i>
              {% endif %}
            </td>

            <td class="icon-cell">
              {% if tfa contains "call" %}
                <i class="tfa-icon fas fa-check"></i>
                {%endif%}
            </td>

            <td class="icon-cell">
              {% if tfa contains "email" %}
                <i class="tfa-icon fas fa-check"></i>
              {% endif %}
            </td>

            <td class="icon-cell">
              <div class="row">
                {% if tfa contains "custom-hardware" %}
                {% if website.custom-hardware %}
                  {% if page.noscript %}
                  <i class="tfa-icon fas fa-info col"
                     title="Custom Hardware 2FA {%- for item in website.custom-hardware -%}&#013;- {{ item }} {%- endfor -%}"></i>
                  {% else %}
                  <i class="tfa-icon fas fa-info col custom-hardware-popover" tabindex="0" data-bs-content="{%- for item in website.custom-hardware -%}&#60;li&#62;{{ item }}&#60;/li&#62;{%- endfor -%}" data-bs-toggle="popover">
                  </i>
                  {% endif %}
                {% else %}
                  <i class="tfa-icon fas fa-info col" title="Requires custom hardware token"></i>
                {% endif %}
                {% endif %}

                {% if tfa contains "u2f" %}
                  <i class="tfa-icon u2f-icon col" title="U2F/WebAuthn support">
                    <img alt="U2F" height="20" src="/img/u2f.svg" loading="lazy" type="image/svg">
                  </i>
                {% endif %}
              </div>
            </td>

            <td class="icon-cell">
              <div class="row">
                {% if tfa contains "totp" %}
                  <i class="tfa-icon fas fa-check col" title="TOTP support"></i>
                {% endif %}
                {% if tfa contains "custom-software" %}
                {% if website.custom-software %}
                  {% if page.noscript %}
                  <i class="tfa-icon fas fa-info col"
                     title="Custom Software 2FA {%- for item in website.custom-software -%}&#013;- {{ item }} {%- endfor -%}"></i>
                  {% else %}
                  <i class="tfa-icon fas fa-info col custom-software-popover" tabindex="0" data-bs-content="{%- for item in website.custom-software -%}&#60;li&#62;{{ item }}&#60;/li&#62;{%- endfor -%}" data-bs-toggle="popover">
                  </i>
                  {% endif %}
                {% else %}
                  <i class="tfa-icon fas fa-info col" title="Requires proprietary app/software"></i>
                {% endif %}
                {% endif %}
              </div>
            </td>
          {% else %}

            <td colspan="6">
              Tell them to support 2FA
              <div class="social-button-group">
                {% if page.noscript %}
                  <!-- Social links with no js -->
                  {% if website.contact.twitter %}
                  <a class="twitter-button social-button btn" href="https://twitter.com/{{ website.contact.twitter }}" target="_blank">
                    <i class="fab fa-twitter"></i>
                    On Twitter
                  </a>
                  {% endif %}
                  {% if website.contact.facebook %}
                  <a class="facebook-button social-button btn" href="https://facebook.com/{{ website.contact.facebook }}" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                    On Facebook
                  </a>
                  {% endif %}
                  {% if website.contact.email %}
                  <a class="email-button social-button btn" href="mailto:{{ website.contact.email }}" target="_blank">
                    <i class="fas fa-envelope"></i>
                    Via Email</a>
                  {% endif %}

                {% else %}
                  <!-- Social buttons with js -->
                  {% if website.contact.twitter %}
                  <div tabindex="0" role="button" class="twitter-button social-button btn" data-twitter="{{ website.contact.twitter }}" data-lang="{{ website.contact.language }}">
                    <i class="fab fa-twitter"></i>
                    On Twitter
                  </div>
                  {% endif %}
                  {% if website.contact.facebook %}
                  <div tabindex="0" role="button" class="facebook-button social-button btn" data-facebook="{{ website.contact.facebook }}">
                    <i class="fab fa-facebook-f"></i>
                    On Facebook
                  </div>
                  {% endif %}
                  {% if website.contact.email %}
                  <div tabindex="0" role="button" class="email-button social-button btn" data-email="{{ website.contact.email }}" data-lang="{{ website.contact.language }}">
                    <i class="fas fa-envelope"></i>
                    Via Email</div>
                  {% endif %}
                {% endif %}
              </div>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
