<div class="modal fade" id="social-media-warn">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content social-media-modal">
      <div class="modal-header">
        <h5 class="modal-title">Attention!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Posting to social media could potentially give other people clues to what accounts you have.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="social-media-accept" data-bs-dismiss="modal">I accept the risk</button>
      </div>
    </div>
  </div>
</div>
