<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/base.css" />
    <link rel="stylesheet" href="/lib/semantic/css/semantic.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" />
</head>

<body>
    {{ content }}

    <!-- 3rd Party Libraries -->
    <script src="//code.jquery.com/jquery-2.1.0.js"></script>
    <script src="/lib/semantic/javascript/semantic.js"></script>

    <!-- TFA JS -->
    <script src="/js/app.js"></script>
</body>
</html>
