---
layout: default
link_tweet: "Tweet to @TWITTERHANDLE"
link_facebook: "Write on @FACEBOOKHANDLE's wall"
email_subject: "Please%20consider%20accepting%20Bitcoin%20Cash%20payments"
rtfm: "Read support docs from"
link_mobile: "TWEET THEM"
workonit_tweet: "Please consider accepting #BitcoinCash for payments @TWITTERHANDLE - it’s \"Peer-to-Peer Electronic Cash\" that is fast, reliable, and secure, with low fees. More @"
link_progress: "Thank them for accepting Bitcoin Cash"
link_progress_mobile: "THANK THEM"
progress_tweet: "Thanks for accepting Bitcoin Cash, @TWITTERHANDLE!"
hash: "acceptBitcoinCash, BCHforEveryone"
has_search: yes
has_nav: yes
---
{{content}}