@media screen and (max-width: 992px) {
  .category-table {
    max-width: calc(100% - 2rem);
    flex: 0 0 100%;
    margin: 0 1rem;

    .search-table-title {
      text-align: center;
      display: none;
      margin: 4vh 0 1vh 0;
    }

    .table-success, .table-danger {
      margin: auto;
      padding: 18px;
      border-bottom: 1px groove rgba(34, 36, 38, .14902);

      .site-title {
        font-size: 18px;
        line-height: 53px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #212529;
        font-weight: 500;

        .fa-exclamation-triangle {
          float: right;
        }

        .site-name {
          color: #212529;
          font-weight: 500;
          text-decoration: none;
        }
      }

      .website-doc {
        background-color: #009fda;
        margin: 0 auto;

        a {
          color: #fff;
          text-decoration: none;

          i {
            color: #fff !important;
          }
        }
      }

      .tfa-option {
        min-width: max-content;
      }

      .text-danger {
        text-align: center;
        display: block;
      }

    }
  }
}
